roles/n8n-provision/files/workflows/ai-summarize.json
{
  "name": "AI Summarize",
  "nodes": [
    {
      "parameters": {
        "path": "ai-summarize",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-2001-4000-8002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "e58bd20a-69dd-4483-b568-1f13c4d5e690"
    },
    {
      "parameters": {
        "jsCode": "// Validate webhook secret — supports header (standard) and body.secret (fallback)\nconst data = $input.first().json;\nconst expectedSecret = $env.N8N_WEBHOOK_HMAC_SECRET;\n\nif (!expectedSecret) {\n  throw new Error('N8N_WEBHOOK_HMAC_SECRET env var is not configured');\n}\n\nconst headers = data.headers || {};\nconst body = data.body || data || {};\nconst receivedSecret = headers['x-webhook-secret'] || body.secret || '';\n\nif (receivedSecret !== expectedSecret) {\n  throw new Error('Invalid webhook secret (checked header + body)');\n}\n\nreturn [{\n  json: {\n    text: body.text || '',\n    max_length: body.max_length || 200,\n    authenticated: true\n  }\n}];"
      },
      "id": "b2c3d4e5-2001-4000-8002-000000000002",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.LITELLM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Summarize the following content concisely in {{ $json.max_length }} words or fewer. Output format: a short summary in the same language as the input. Only output the summary, nothing else.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.text) }}\n    }\n  ],\n  \"max_tokens\": 2048,\n  \"temperature\": 0.3\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-2001-4000-8002-000000000003",
      "name": "Call LiteLLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || response;\n\nconst choice = body.choices && body.choices[0];\nconst result = choice ? choice.message.content.trim() : '';\nconst model = body.model || 'claude-haiku';\nconst usage = body.usage || {};\n\nreturn [{\n  json: {\n    status: 'success',\n    result: result,\n    model_used: model,\n    tokens_used: {\n      prompt: usage.prompt_tokens || 0,\n      completion: usage.completion_tokens || 0,\n      total: usage.total_tokens || 0\n    }\n  }\n}];"
      },
      "id": "b2c3d4e5-2001-4000-8002-000000000004",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-2001-4000-8002-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Call LiteLLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LiteLLM": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "active": false
}
