roles/n8n-provision/files/workflows/cf-read-content.json
{
  "name": "CF Read Content",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf-read-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cfrc-0001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        380
      ],
      "webhookId": "cfrc-0001-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// Validate secret and extract params\nconst data = $input.first().json;\nconst body = data.body || data;\n\nconst expectedSecret = $env.N8N_WEBHOOK_HMAC_SECRET;\nif (!expectedSecret) throw new Error('N8N_WEBHOOK_HMAC_SECRET not configured');\nconst receivedSecret = (data.headers || {})['x-webhook-secret'] || body.secret || '';\nif (receivedSecret !== expectedSecret) throw new Error('Unauthorized: invalid webhook secret');\n\nconst content_id = body.content_id;\nif (!content_id) throw new Error('Missing required field: content_id');\n\nreturn [{ json: { content_id } }];"
      },
      "id": "cfrc-0001-0000-0000-0000-000000000002",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// === STRANGLER SHIM (cutover M0, increment C) : lecture distante -> API /compat ===\n// Ancien code conserve en commentaire ROLLBACK ci-dessous. Ref docs/specs/strangler-plan.md\nconst { content_id } = $input.first().json;\n\nfunction cfApiPost(urlStr, payload, secret) {\n  return new Promise((resolve, reject) => {\n    const lib = urlStr.startsWith('https') ? require('https') : require('http');\n    const bodyStr = JSON.stringify(payload || {});\n    const hdrs = { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr), 'x-webhook-secret': secret };\n    const req = lib.request(urlStr, { method: 'POST', headers: hdrs }, (res) => {\n      let d = ''; res.on('data', c => d += c);\n      res.on('end', () => {\n        if (res.statusCode >= 400) { reject(new Error('compat HTTP ' + res.statusCode + ': ' + d.slice(0, 200))); return; }\n        try { resolve(JSON.parse(d)); } catch (e) { resolve(d); }\n      });\n    });\n    req.on('error', reject);\n    req.write(bodyStr); req.end();\n  });\n}\n\nconst apiBase = $env.CF_API_BASE_URL || 'http://cf-api:8000';\nconst resp = await cfApiPost(`${apiBase}/compat/cf-read-content`, { content_id }, $env.N8N_WEBHOOK_HMAC_SECRET);\nreturn [{ json: resp }];\n\n\n/* === ROLLBACK : ancien code (increment C) ===\n// Read content row + merge brand data\nconst { content_id } = $input.first().json;\n\nconst baseUrl = $env.NOCODB_BASE_URL;\nconst token = $env.NOCODB_API_TOKEN;\nconst contentsId = $env.NOCODB_CONTENTS_TABLE_ID;\nconst brandsId = $env.NOCODB_BRANDS_TABLE_ID;\n\nif (!contentsId) throw new Error('NOCODB_CONTENTS_TABLE_ID not set');\n\nfunction nocoGet(urlStr, tkn) {\n  return new Promise((resolve, reject) => {\n    const lib = urlStr.startsWith('https') ? require('https') : require('http');\n    const req = lib.request(urlStr, { method: 'GET', headers: { 'xc-token': tkn, 'Accept': 'application/json' } }, (res) => {\n      let body = ''; res.on('data', c => body += c);\n      res.on('end', () => { try { resolve(JSON.parse(body)); } catch(e) { reject(new Error('JSON: ' + body.slice(0,200))); } });\n    });\n    req.on('error', reject); req.end();\n  });\n}\n\nconst qs = encodeURIComponent(`(Id,eq,${content_id})`);\nconst contentResp = await nocoGet(`${baseUrl}/api/v2/tables/${contentsId}/records?where=${qs}&limit=1`, token);\nconst contentRow = (contentResp.list || [])[0];\nif (!contentRow) throw new Error(`Content ${content_id} not found`);\n\nconst result = { ...contentRow, content_id: String(contentRow.Id) };\n\nif (contentRow.brand_id && brandsId) {\n  try {\n    const bqs = encodeURIComponent(`(Id,eq,${contentRow.brand_id})`);\n    const brandResp = await nocoGet(`${baseUrl}/api/v2/tables/${brandsId}/records?where=${bqs}&limit=1`, token);\n    const brandRow = (brandResp.list || [])[0];\n    if (brandRow) {\n      result.brand_tone = brandRow.tone || '';\n      result.brand_name = brandRow.name || '';\n      result.brand_palette = brandRow.palette || '';\n      result.brand_typography = brandRow.typography || '';\n    }\n  } catch(e) { console.error('brand fetch:', e.message); }\n}\n\nreturn [{ json: result }];\n=== fin ROLLBACK === */\n"
      },
      "id": "cfrc-0001-0000-0000-0000-000000000003",
      "name": "Read Content and Brand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cfrc-0001-0000-0000-0000-000000000004",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        380
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Secret": {
      "main": [
        [
          {
            "node": "Read Content and Brand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Content and Brand": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "content-factory"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "1",
  "id": "WiCewIMTb2JSjPe8"
}
