roles/n8n-provision/files/workflows/cf-update-content.json
{
  "name": "CF Update Content",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf-update-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cfuc-0001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        380
      ],
      "webhookId": "cfuc-0001-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "jsCode": "// $http polyfill \u2014 not available in Code node sandbox (N8N_RUNNERS_ENABLED=false)\nfunction nocoReq(method, urlStr, tkn, payload) {\n  return new Promise((resolve, reject) => {\n    const lib = urlStr.startsWith('https') ? require('https') : require('http');\n    const hdrs = { 'xc-token': tkn, 'Accept': 'application/json' };\n    let bodyStr = null;\n    if (payload) {\n      bodyStr = JSON.stringify(payload);\n      hdrs['Content-Type'] = 'application/json';\n      hdrs['Content-Length'] = Buffer.byteLength(bodyStr);\n    }\n    const req = lib.request(urlStr, { method, headers: hdrs }, (res) => {\n      let d = ''; res.on('data', c => d += c);\n      res.on('end', () => {\n        if (res.statusCode >= 400) { reject(new Error('HTTP ' + res.statusCode + ': ' + d.slice(0,200))); return; }\n        try { resolve(JSON.parse(d)); } catch(e) { resolve(d); }\n      });\n    });\n    req.on('error', reject);\n    if (bodyStr) req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst data = $input.first().json;\nconst body = data.body || data;\n\nconst expectedSecret = $env.N8N_WEBHOOK_HMAC_SECRET;\nif (!expectedSecret) throw new Error('N8N_WEBHOOK_HMAC_SECRET not configured');\nconst receivedSecret = (data.headers || {})['x-webhook-secret'] || body.secret || '';\nif (receivedSecret !== expectedSecret) throw new Error('Unauthorized: invalid webhook secret');\n\nconst content_id = body.content_id;\nif (!content_id) throw new Error('Missing required field: content_id');\n\nconst fields = body.fields || {};\nif (Object.keys(fields).length === 0) throw new Error('Missing required field: fields (nothing to update)');\n\nconst patchFields = {};\nfor (const [key, value] of Object.entries(fields)) {\n  patchFields[key] = (typeof value === 'object' && value !== null) ? JSON.stringify(value) : value;\n}\n\nconst baseUrl = $env.NOCODB_BASE_URL;\nconst token = $env.NOCODB_API_TOKEN;\nconst contentsId = $env.NOCODB_CONTENTS_TABLE_ID || '';\nif (!contentsId) throw new Error('NOCODB_CONTENTS_TABLE_ID not configured');\n\nawait nocoReq('PATCH', baseUrl + '/api/v2/tables/' + contentsId + '/records', token, { Id: parseInt(content_id), ...patchFields });\n\nreturn [{ json: { status: 'ok', content_id: String(content_id) } }];"
      },
      "id": "cfuc-0001-0000-0000-0000-000000000002",
      "name": "Update Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cfuc-0001-0000-0000-0000-000000000003",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        380
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Update Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "content-factory"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-17T00:00:00.000Z",
  "versionId": "1",
  "id": "Z7AAOY4wUs33jYcH"
}