roles/n8n-provision/files/workflows/code-review.json
{
  "name": "OpenClaw — Code Review (SSH Pi → LiteLLM → Kaneo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "code-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate input payload + secret\nconst payload = $input.first().json;\nconst secret = process.env.N8N_WEBHOOK_SECRET || '';\n\nif (secret && payload.secret !== secret) {\n  throw new Error('Invalid webhook secret');\n}\n\nconst required = ['repo_url', 'branch', 'task_id', 'project_id'];\nfor (const field of required) {\n  if (!payload[field]) throw new Error(`Missing required field: ${field}`);\n}\n\nreturn [{ json: {\n  repo_url: payload.repo_url,\n  branch: payload.branch,\n  task_id: payload.task_id,\n  project_id: payload.project_id\n}}];"
      },
      "id": "cr-0001-0000-0000-0000-000000000002",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\", \"task_id\": \"{{ $json.task_id }}\" }"
      },
      "id": "cr-0001-0000-0000-0000-000000000003",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 460]
    },
    {
      "parameters": {
        "jsCode": "// Build SSH review command — Base64-encode to avoid shell injection\nconst ctx = $input.first().json;\n\nconst reviewData = JSON.stringify({\n  repo_url: ctx.repo_url,\n  branch: ctx.branch,\n  task_id: ctx.task_id,\n  project_id: ctx.project_id\n});\n\nconst b64 = Buffer.from(reviewData).toString('base64');\nreturn [{ json: { ...ctx, review_data_b64: b64 } }];"
      },
      "id": "cr-0001-0000-0000-0000-000000000004",
      "name": "Encode review data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "command": "=ssh -i {{ $env.WORKSTATION_SSH_KEY_PATH || '/home/mobuone/.ssh/seko-vpn-deploy' }} -o StrictHostKeyChecking=accept-new -o ConnectTimeout=15 {{ $env.WORKSTATION_PI_USER || 'mobuone' }}@{{ $env.WORKSTATION_PI_IP }} 'echo {{ $json.review_data_b64 }} | base64 -d | claude-code-review --stdin --model gpt-codex'",
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000005",
      "name": "SSH Pi: Run Review",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse review result from SSH output\nconst raw = $input.first().json.stdout || '';\nconst exitCode = $input.first().json.exitCode ?? 0;\n\n// Detect PASS/FAIL in output\nconst pass = raw.toUpperCase().includes('PASS') || raw.includes('✅');\nconst fail = raw.toUpperCase().includes('FAIL') || raw.includes('❌');\n\nconst status = pass ? 'PASS' : (fail ? 'FAIL' : 'UNKNOWN');\nconst success = exitCode === 0 && status === 'PASS';\n\n// Truncate output for Kaneo comment (max 2000 chars)\nconst report = raw.slice(0, 2000);\n\nconst ctx = $('Validate payload').first().json;\n\nreturn [{ json: {\n  ...ctx,\n  review_status: status,\n  review_success: success,\n  review_report: report,\n  exit_code: exitCode\n}}];"
      },
      "id": "cr-0001-0000-0000-0000-000000000006",
      "name": "Parse review result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kaneo-api:1337/api/auth/sign-in/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"email\": \"{{ $env.KANEO_AGENT_EMAIL }}\", \"password\": \"{{ $env.KANEO_AGENT_PASSWORD }}\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "cr-0001-0000-0000-0000-000000000007",
      "name": "Auth Kaneo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst headers = response.headers || {};\nconst setCookie = headers['set-cookie'] || [];\nlet cookie = '';\nif (Array.isArray(setCookie)) {\n  cookie = setCookie.map(c => c.split(';')[0]).join('; ');\n} else if (typeof setCookie === 'string') {\n  cookie = setCookie.split(';')[0];\n}\nif (!cookie) throw new Error('Kaneo auth failed');\nconst ctx = $('Parse review result').first().json;\nreturn [{ json: { ...ctx, cookie } }];"
      },
      "id": "cr-0001-0000-0000-0000-000000000008",
      "name": "Extract cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://kaneo-api:1337/api/activity/comment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"taskId\": \"{{ $json.task_id }}\",\n  \"comment\": \"## Code Review — {{ $json.branch }}\\n**Statut** : {{ $json.review_status === 'PASS' ? '✅ PASS' : '❌ FAIL' }}\\n\\n{{ $json.review_report }}\"\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "cr-0001-0000-0000-0000-000000000009",
      "name": "Post review comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 260]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://kaneo-api:1337/api/task/status/{{ $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"{{ $json.review_success ? 'done' : 'backlog' }}\" }",
        "options": {},
        "continueOnFail": true
      },
      "id": "cr-0001-0000-0000-0000-000000000010",
      "name": "Update task status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-fail",
              "leftValue": "={{ $json.review_success }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000011",
      "name": "Review failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2020, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://kaneo-api:1337/api/label",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"taskId\": \"{{ $json.task_id }}\",\n  \"name\": \"correction\",\n  \"color\": \"#ef4444\"\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "cr-0001-0000-0000-0000-000000000012",
      "name": "Add correction label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id",    "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}" },
            { "name": "text",       "value": "={{ $json.review_success ? '✅ Code Review PASS — branche ' + $json.branch : '❌ Code Review FAIL — branche ' + $json.branch + ' — corrections requises' }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000013",
      "name": "Telegram notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]] },
    "Validate payload": {
      "main": [[
        { "node": "Webhook Response", "type": "main", "index": 0 },
        { "node": "Encode review data", "type": "main", "index": 0 }
      ]]
    },
    "Encode review data": { "main": [[{ "node": "SSH Pi: Run Review", "type": "main", "index": 0 }]] },
    "SSH Pi: Run Review": { "main": [[{ "node": "Parse review result", "type": "main", "index": 0 }]] },
    "Parse review result": { "main": [[{ "node": "Auth Kaneo", "type": "main", "index": 0 }]] },
    "Auth Kaneo": { "main": [[{ "node": "Extract cookie", "type": "main", "index": 0 }]] },
    "Extract cookie": {
      "main": [[
        { "node": "Post review comment", "type": "main", "index": 0 },
        { "node": "Update task status", "type": "main", "index": 0 }
      ]]
    },
    "Post review comment": { "main": [[{ "node": "Review failed?", "type": "main", "index": 0 }]] },
    "Update task status": { "main": [[{ "node": "Review failed?", "type": "main", "index": 0 }]] },
    "Review failed?": {
      "main": [
        [{ "node": "Add correction label", "type": "main", "index": 0 }],
        [{ "node": "Telegram notify", "type": "main", "index": 0 }]
      ]
    },
    "Add correction label": { "main": [[{ "node": "Telegram notify", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "kaneo" }, { "name": "code-review" }, { "name": "openclaw" }],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T00:00:00.000Z",
  "versionId": "1"
}
