roles/n8n-provision/files/workflows/code-review.json
{
  "name": "OpenClaw — Code Review (SSH Pi → LiteLLM → Palais)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "code-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate input payload + secret\nconst payload = $input.first().json;\nconst secret = process.env.N8N_WEBHOOK_SECRET || '';\n\nif (secret && payload.secret !== secret) {\n  throw new Error('Invalid webhook secret');\n}\n\nconst required = ['repo_url', 'branch', 'task_id', 'project_id'];\nfor (const field of required) {\n  if (!payload[field]) throw new Error(`Missing required field: ${field}`);\n}\n\nreturn [{ json: {\n  repo_url: payload.repo_url,\n  branch: payload.branch,\n  task_id: payload.task_id,\n  project_id: payload.project_id\n}}];"
      },
      "id": "cr-0001-0000-0000-0000-000000000002",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\", \"task_id\": \"{{ $json.task_id }}\" }"
      },
      "id": "cr-0001-0000-0000-0000-000000000003",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 460]
    },
    {
      "parameters": {
        "jsCode": "// Build SSH review command — Base64-encode to avoid shell injection\nconst ctx = $input.first().json;\n\nconst reviewData = JSON.stringify({\n  repo_url: ctx.repo_url,\n  branch: ctx.branch,\n  task_id: ctx.task_id,\n  project_id: ctx.project_id\n});\n\nconst b64 = Buffer.from(reviewData).toString('base64');\nreturn [{ json: { ...ctx, review_data_b64: b64 } }];"
      },
      "id": "cr-0001-0000-0000-0000-000000000004",
      "name": "Encode review data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const { exec } = require('child_process');\nconst keyPath = process.env.WORKSTATION_SSH_KEY_PATH || '/home/mobuone/.ssh/seko-vpn-deploy';\nconst piUser = process.env.WORKSTATION_PI_USER || 'mobuone';\nconst piIp = process.env.WORKSTATION_PI_IP;\nconst b64 = $input.first().json.review_data_b64;\nconst cmd = `ssh -i ${keyPath} -o StrictHostKeyChecking=accept-new -o ConnectTimeout=15 ${piUser}@${piIp} 'echo ${b64} | base64 -d | claude-code-review --stdin --model gpt-codex'`;\nconst result = await new Promise((resolve) => {\n  exec(cmd, { timeout: 300000, maxBuffer: 10*1024*1024 }, (error, stdout, stderr) => {\n    resolve({ stdout: stdout || '', stderr: stderr || '', exitCode: error ? (error.code || 1) : 0 });\n  });\n});\nreturn [{ json: result }];"
      },
      "id": "cr-0001-0000-0000-0000-000000000005",
      "name": "SSH Pi: Run Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse review result from SSH output\nconst raw = $input.first().json.stdout || '';\nconst exitCode = $input.first().json.exitCode ?? 0;\n\n// Detect PASS/FAIL in output\nconst pass = raw.toUpperCase().includes('PASS') || raw.includes('✅');\nconst fail = raw.toUpperCase().includes('FAIL') || raw.includes('❌');\n\nconst status = pass ? 'PASS' : (fail ? 'FAIL' : 'UNKNOWN');\nconst success = exitCode === 0 && status === 'PASS';\n\n// Truncate output for Palais comment (max 2000 chars)\nconst report = raw.slice(0, 2000);\n\nconst ctx = $('Validate payload').first().json;\n\nreturn [{ json: {\n  ...ctx,\n  review_status: status,\n  review_success: success,\n  review_report: report,\n  exit_code: exitCode\n}}];"
      },
      "id": "cr-0001-0000-0000-0000-000000000006",
      "name": "Parse review result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://palais:3300/api/v1/tasks/{{ $json.task_id }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key",    "value": "={{ $env.PALAIS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"## Code Review — {{ $json.branch }}\\n**Statut** : {{ $json.review_status === 'PASS' ? '✅ PASS' : '❌ FAIL' }}\\n\\n{{ $json.review_report }}\"\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "cr-0001-0000-0000-0000-000000000009",
      "name": "Post review comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 260]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://palais:3300/api/v1/tasks/{{ $('Parse review result').first().json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key",    "value": "={{ $env.PALAIS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"{{ $('Parse review result').first().json.review_success ? 'done' : 'in-progress' }}\" }",
        "options": {},
        "continueOnFail": true
      },
      "id": "cr-0001-0000-0000-0000-000000000010",
      "name": "Update task status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 360]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-fail",
              "leftValue": "={{ $('Parse review result').first().json.review_success }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000011",
      "name": "Review failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id",    "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}" },
            { "name": "text",       "value": "={{ '❌ Code Review FAIL — branche ' + $('Parse review result').first().json.branch + ' — corrections requises, tâche remise en in-progress' }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000013",
      "name": "Telegram notify (Fail)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "jsCode": "// SSH to Pi and merge the PR using gh CLI\nconst { exec } = require('child_process');\nconst ctx = $('Parse review result').first().json;\nconst keyPath = process.env.WORKSTATION_SSH_KEY_PATH || '/home/mobuone/.ssh/seko-vpn-deploy';\nconst piUser = process.env.WORKSTATION_PI_USER || 'mobuone';\nconst piIp = process.env.WORKSTATION_PI_IP;\nconst branch = ctx.branch || '';\n\n// Extract owner/repo from repo_url (handles https and ssh git formats)\nconst repoUrl = ctx.repo_url || '';\nconst parts = repoUrl.replace(/\\.git$/, '').split(/[:/]/);\nconst repoSlug = parts.slice(-2).join('/');\n\nconst cmd = `ssh -i ${keyPath} -o StrictHostKeyChecking=accept-new -o ConnectTimeout=15 ${piUser}@${piIp} 'gh pr merge --head ${branch} --repo ${repoSlug} --merge --delete-branch --yes 2>&1'`;\n\nconst result = await new Promise((resolve) => {\n  exec(cmd, { timeout: 60000 }, (error, stdout, stderr) => {\n    resolve({ stdout: stdout || '', stderr: stderr || '', exitCode: error ? (error.code || 1) : 0 });\n  });\n});\n\nreturn [{ json: { ...ctx, merge_stdout: result.stdout, merge_exit_code: result.exitCode } }];"
      },
      "id": "cr-0001-0000-0000-0000-000000000014",
      "name": "Merge PR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 400]
    },
    {
      "parameters": {
        "jsCode": "// Attach review report as text deliverable to the task\nconst ctx = $input.first().json;\nconst report = ($('Parse review result').first().json.review_report || '').trim() || '(rapport vide)';\nconst branch = ctx.branch || 'unknown';\nconst safeBranch = branch.replace(/[^a-zA-Z0-9-]/g, '-');\nconst filename = `review-${safeBranch}-${Date.now()}.txt`;\nconst palaisUrl = process.env.PALAIS_URL || 'http://palais:3300';\nconst apiKey = process.env.PALAIS_API_KEY || '';\n\nlet reportAttached = false;\nlet reportStatus = 0;\n\ntry {\n  const formData = new FormData();\n  const blob = new Blob([report], { type: 'text/plain' });\n  formData.append('file', blob, filename);\n\n  const res = await fetch(`${palaisUrl}/api/v1/tasks/${ctx.task_id}/deliverables`, {\n    method: 'POST',\n    headers: { 'X-API-Key': apiKey },\n    body: formData\n  });\n  reportAttached = res.ok;\n  reportStatus = res.status;\n} catch (e) {\n  // Non-blocking — continue even if upload fails\n}\n\nreturn [{ json: { ...ctx, report_attached: reportAttached, report_status: reportStatus } }];"
      },
      "id": "cr-0001-0000-0000-0000-000000000015",
      "name": "Attach review report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id",    "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}" },
            { "name": "text",       "value": "={{ '✅ Code Review PASS — branche ' + $('Parse review result').first().json.branch + ' — PR mergée, tâche terminée' + ($input.first().json.report_attached ? ' + rapport joint' : '') }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "cr-0001-0000-0000-0000-000000000016",
      "name": "Telegram notify (Pass)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]] },
    "Validate payload": {
      "main": [[
        { "node": "Webhook Response", "type": "main", "index": 0 },
        { "node": "Encode review data", "type": "main", "index": 0 }
      ]]
    },
    "Encode review data": { "main": [[{ "node": "SSH Pi: Run Review", "type": "main", "index": 0 }]] },
    "SSH Pi: Run Review": { "main": [[{ "node": "Parse review result", "type": "main", "index": 0 }]] },
    "Parse review result": {
      "main": [[
        { "node": "Post review comment", "type": "main", "index": 0 },
        { "node": "Update task status",  "type": "main", "index": 0 }
      ]]
    },
    "Post review comment": { "main": [[{ "node": "Review failed?", "type": "main", "index": 0 }]] },
    "Update task status":  { "main": [[{ "node": "Review failed?", "type": "main", "index": 0 }]] },
    "Review failed?": {
      "main": [
        [{ "node": "Telegram notify (Fail)", "type": "main", "index": 0 }],
        [{ "node": "Merge PR",              "type": "main", "index": 0 }]
      ]
    },
    "Merge PR":             { "main": [[{ "node": "Attach review report",    "type": "main", "index": 0 }]] },
    "Attach review report": { "main": [[{ "node": "Telegram notify (Pass)",  "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "palais" }, { "name": "code-review" }, { "name": "openclaw" }],
  "triggerCount": 1,
  "updatedAt": "2026-02-25T00:00:00.000Z",
  "versionId": "3"
}
