roles/n8n-provision/files/workflows/cve-watcher.json
{
  "name": "CVE Watcher",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cve00001-0000-4000-8000-000000000001",
      "name": "Cron Daily 7h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "// Fetch RSS feeds for CVEs affecting our stack services\n// NVD + GitHub Security Advisories + Docker Hub\nconst services = [\n  { name: 'caddy',           feed: 'https://github.com/caddyserver/caddy/security/advisories.atom' },\n  { name: 'n8n',             feed: 'https://github.com/n8n-io/n8n/security/advisories.atom' },\n  { name: 'postgresql',      feed: 'https://github.com/postgres/postgres/security/advisories.atom' },\n  { name: 'redis',           feed: 'https://github.com/redis/redis/security/advisories.atom' },\n  { name: 'grafana',         feed: 'https://github.com/grafana/grafana/security/advisories.atom' },\n  { name: 'crowdsec',        feed: 'https://github.com/crowdsecurity/crowdsec/security/advisories.atom' },\n  { name: 'docker',          feed: 'https://github.com/moby/moby/security/advisories.atom' }\n];\n\nreturn services.map(s => ({ json: s }));"
      },
      "id": "cve00001-0000-4000-8000-000000000002",
      "name": "Build Feed List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.feed }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "fullResponse": false } }
        }
      },
      "id": "cve00001-0000-4000-8000-000000000003",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Filter entries published in last 24h and extract CVE info\nconst items = $input.all();\nconst now = Date.now();\nconst oneDayMs = 24 * 60 * 60 * 1000;\nconst recent = [];\n\nfor (const item of items) {\n  const entry = item.json;\n  const pubDate = entry.pubDate || entry.isoDate || entry.date || '';\n  const ts = pubDate ? new Date(pubDate).getTime() : 0;\n\n  if (ts > 0 && (now - ts) < oneDayMs) {\n    const title = entry.title || '';\n    const link  = entry.link  || entry.guid || '';\n    // Detect severity keywords in title/summary\n    const text  = (title + ' ' + (entry.summary || entry.content || '')).toLowerCase();\n    const severity = text.includes('critical') ? 'CRITICAL'\n                   : text.includes('high')     ? 'HIGH'\n                   : text.includes('medium')   ? 'MEDIUM'\n                   : 'LOW';\n\n    recent.push({\n      service:   entry._service || 'unknown',\n      title,\n      link,\n      severity,\n      published: pubDate\n    });\n  }\n}\n\nif (recent.length === 0) {\n  return [{ json: { has_alerts: false, count: 0, alerts: [] } }];\n}\n\nreturn [{ json: { has_alerts: true, count: recent.length, alerts: recent } }];"
      },
      "id": "cve00001-0000-4000-8000-000000000004",
      "name": "Filter Recent CVEs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cve-cond-001",
              "leftValue": "={{ $json.has_alerts }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cve00001-0000-4000-8000-000000000005",
      "name": "Has CVEs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ALERT_WEBHOOK_URL || 'http://n8n:5678/webhook/dummy-alert' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-webhook-secret", "value": "={{ $env.N8N_WEBHOOK_HMAC_SECRET }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event\": \"cve_alert\",\n  \"severity\": \"{{ $json.alerts.some(a => a.severity === 'CRITICAL') ? 'CRITICAL' : 'HIGH' }}\",\n  \"cve_count\": {{ $json.count }},\n  \"alerts\": {{ JSON.stringify($json.alerts) }},\n  \"checked_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "id": "cve00001-0000-4000-8000-000000000006",
      "name": "Send CVE Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.LITELLM_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un expert sécurité DevOps. Analyse ces CVEs et génère un rapport concis en français avec : services affectés, niveau de risque, action recommandée (patch/mitigation/surveiller). Maximum 300 mots.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(JSON.stringify($json.alerts)) }}\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.2\n}",
        "options": { "timeout": 30000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "cve00001-0000-4000-8000-000000000007",
      "name": "Summarize with LiteLLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 360]
    }
  ],
  "connections": {
    "Cron Daily 7h": {
      "main": [[{ "node": "Build Feed List", "type": "main", "index": 0 }]]
    },
    "Build Feed List": {
      "main": [[{ "node": "Fetch RSS Feed", "type": "main", "index": 0 }]]
    },
    "Fetch RSS Feed": {
      "main": [[{ "node": "Filter Recent CVEs", "type": "main", "index": 0 }]]
    },
    "Filter Recent CVEs": {
      "main": [[{ "node": "Has CVEs?", "type": "main", "index": 0 }]]
    },
    "Has CVEs?": {
      "main": [
        [
          { "node": "Send CVE Alert", "type": "main", "index": 0 },
          { "node": "Summarize with LiteLLM", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "active": false
}
