roles/n8n-provision/files/workflows/email-reply-suggest.json
{
  "name": "Email Reply Suggest",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "filters": {
          "labelIds": ["Label_ACTION_NEEDED"],
          "q": "is:unread"
        },
        "options": {
          "format": "resolved"
        }
      },
      "id": "emailrpl-0000-4000-8000-000000000001",
      "name": "Watch ACTION_NEEDED",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [260, 300],
      "credentials": {
        "gmailOAuth2": { "id": "DUMMY_GMAIL_CRED_ID", "name": "Gmail OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract email fields for reply generation\nconst mail = $input.first().json;\nreturn [{\n  json: {\n    id:      mail.id || '',\n    from:    mail.from?.value?.[0]?.address || mail.from || '',\n    from_name: mail.from?.value?.[0]?.name || '',\n    subject: mail.subject || '',\n    body:    (mail.text || mail.html || mail.snippet || '').substring(0, 1500),\n    date:    mail.date || ''\n  }\n}];"
      },
      "id": "emailrpl-0000-4000-8000-000000000002",
      "name": "Extract Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://litellm:4000/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.LITELLM_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un assistant qui rédige des brouillons de réponse email professionnels. Génère une réponse concise et appropriée. Laisse [À COMPLÉTER] pour les informations spécifiques que tu ne peux pas connaître. Commence directement par la salutation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"De: {{ $json.from_name }} <{{ $json.from }}>\\nObjet: {{ $json.subject }}\\n\\nContenu:\\n{{ $json.body }}\\n\\nRédige un brouillon de réponse.\"\n    }\n  ],\n  \"max_tokens\": 400,\n  \"temperature\": 0.5\n}",
        "options": { "timeout": 30000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "emailrpl-0000-4000-8000-000000000003",
      "name": "Generate Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || response;\nconst draft = (body.choices?.[0]?.message?.content || '').trim();\nconst email = $('Extract Email').first().json;\n\nreturn [{ json: {\n  email_id:   email.id,\n  from:       email.from,\n  from_name:  email.from_name,\n  subject:    email.subject,\n  draft_reply: draft\n}}];"
      },
      "id": "emailrpl-0000-4000-8000-000000000004",
      "name": "Extract Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "operation": "createDraft",
        "to": "={{ $json.from }}",
        "subject": "=Re: {{ $json.subject }}",
        "message": "={{ $json.draft_reply }}",
        "options": {
          "threadId": "={{ $json.email_id }}"
        }
      },
      "id": "emailrpl-0000-4000-8000-000000000005",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1140, 300],
      "credentials": {
        "gmailOAuth2": { "id": "DUMMY_GMAIL_CRED_ID", "name": "Gmail OAuth2" }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Extract Email').first().json.id }}",
        "labelIds": ["Label_DraftReady"]
      },
      "id": "emailrpl-0000-4000-8000-000000000006",
      "name": "Mark Draft Ready",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1360, 300],
      "credentials": {
        "gmailOAuth2": { "id": "DUMMY_GMAIL_CRED_ID", "name": "Gmail OAuth2" }
      }
    }
  ],
  "connections": {
    "Watch ACTION_NEEDED":  { "main": [[{ "node": "Extract Email",       "type": "main", "index": 0 }]] },
    "Extract Email":        { "main": [[{ "node": "Generate Draft Reply", "type": "main", "index": 0 }]] },
    "Generate Draft Reply": { "main": [[{ "node": "Extract Draft",        "type": "main", "index": 0 }]] },
    "Extract Draft":        { "main": [[{ "node": "Create Gmail Draft",   "type": "main", "index": 0 }]] },
    "Create Gmail Draft":   { "main": [[{ "node": "Mark Draft Ready",     "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "active": false
}
