roles/n8n-provision/files/workflows/error-to-task.json
{
  "name": "OpenClaw — Error to Kaneo Task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-to-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst secret = process.env.N8N_WEBHOOK_SECRET || '';\n\nif (secret && payload.secret !== secret) {\n  throw new Error('Invalid webhook secret');\n}\n\nconst required = ['error_message', 'project_id'];\nfor (const field of required) {\n  if (!payload[field]) throw new Error(`Missing required field: ${field}`);\n}\n\nreturn [{ json: {\n  error_message: (payload.error_message || '').slice(0, 500),\n  source_task_id: payload.source_task_id || null,\n  project_id: payload.project_id,\n  agent_id: payload.agent_id || 'unknown'\n}}];"
      },
      "id": "et-0001-0000-0000-0000-000000000002",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\", \"project_id\": \"{{ $json.project_id }}\" }"
      },
      "id": "et-0001-0000-0000-0000-000000000003",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kaneo-api:1337/api/auth/sign-in",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"email\": \"{{ $env.KANEO_AGENT_EMAIL }}\", \"password\": \"{{ $env.KANEO_AGENT_PASSWORD }}\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "et-0001-0000-0000-0000-000000000004",
      "name": "Auth Kaneo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst headers = response.headers || {};\nconst setCookie = headers['set-cookie'] || [];\nlet cookie = '';\nif (Array.isArray(setCookie)) {\n  cookie = setCookie.map(c => c.split(';')[0]).join('; ');\n} else if (typeof setCookie === 'string') {\n  cookie = setCookie.split(';')[0];\n}\nif (!cookie) throw new Error('Kaneo auth failed');\nconst ctx = $('Validate payload').first().json;\nreturn [{ json: { ...ctx, cookie } }];"
      },
      "id": "et-0001-0000-0000-0000-000000000005",
      "name": "Extract cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://kaneo-api:1337/api/column/{{ $json.project_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie", "value": "={{ $json.cookie }}" }
          ]
        },
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000006",
      "name": "Get project columns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "jsCode": "// Find the first column (Backlog) for new correction task\nconst cols = $input.first().json;\nconst colsArr = Array.isArray(cols) ? cols : (cols.columns || cols.data || []);\nconst backlogCol = colsArr.find(c => (c.name || '').toLowerCase().includes('backlog')) || colsArr[0] || {};\nconst ctx = $('Extract cookie').first().json;\n\n// Build short error title (max 80 chars)\nconst shortError = ctx.error_message.length > 60\n  ? ctx.error_message.slice(0, 60) + '...'\n  : ctx.error_message;\n\nreturn [{ json: {\n  ...ctx,\n  column_id: backlogCol.id || null,\n  error_title: `INCIDENT [${ctx.agent_id}]: ${shortError}`\n}}];"
      },
      "id": "et-0001-0000-0000-0000-000000000007",
      "name": "Prepare task data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://kaneo-api:1337/api/task/{{ $json.project_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.error_title }}\",\n  \"description\": \"Erreur detectee par agent {{ $json.agent_id }}.\\n\\nMessage: {{ $json.error_message }}\",\n  \"columnId\": \"{{ $json.column_id }}\"\n}",
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000008",
      "name": "Create correction task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "jsCode": "const newTask = $input.first().json;\nconst ctx = $('Prepare task data').first().json;\nconst new_task_id = newTask.id || newTask.data?.id;\nreturn [{ json: { ...ctx, new_task_id } }];"
      },
      "id": "et-0001-0000-0000-0000-000000000009",
      "name": "Extract new task id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://kaneo-api:1337/api/label",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"taskId\": \"{{ $json.new_task_id }}\",\n  \"name\": \"correction\",\n  \"color\": \"#ef4444\"\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "et-0001-0000-0000-0000-000000000010",
      "name": "Add incident label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2020, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://kaneo-api:1337/api/label",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"taskId\": \"{{ $json.new_task_id }}\",\n  \"name\": \"agent:{{ $json.agent_id }}\",\n  \"color\": \"#6366f1\"\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "et-0001-0000-0000-0000-000000000011",
      "name": "Add agent label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2020, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-source",
              "leftValue": "={{ $json.source_task_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000012",
      "name": "Has source task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2020, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://kaneo-api:1337/api/activity/comment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"taskId\": \"{{ $json.source_task_id }}\",\n  \"content\": \"Erreur detectee — tache de correction creee : {{ $json.new_task_id }}\"\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "et-0001-0000-0000-0000-000000000013",
      "name": "Link source task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://kaneo-api:1337/api/task/priority/{{ $json.new_task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",       "value": "={{ $json.cookie }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"priority\": \"high\" }",
        "options": {},
        "continueOnFail": true
      },
      "id": "et-0001-0000-0000-0000-000000000014",
      "name": "Set high priority",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id",    "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}" },
            { "name": "text",       "value": "=⚠️ Incident detecte par agent {{ $json.agent_id }}\\n\\n{{ $json.error_message.slice(0, 200) }}\\n\\nTache Kaneo creee : {{ $json.new_task_id }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000015",
      "name": "Telegram notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2460, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]] },
    "Validate payload": {
      "main": [[
        { "node": "Webhook Response", "type": "main", "index": 0 },
        { "node": "Auth Kaneo", "type": "main", "index": 0 }
      ]]
    },
    "Auth Kaneo": { "main": [[{ "node": "Extract cookie", "type": "main", "index": 0 }]] },
    "Extract cookie": { "main": [[{ "node": "Get project columns", "type": "main", "index": 0 }]] },
    "Get project columns": { "main": [[{ "node": "Prepare task data", "type": "main", "index": 0 }]] },
    "Prepare task data": { "main": [[{ "node": "Create correction task", "type": "main", "index": 0 }]] },
    "Create correction task": { "main": [[{ "node": "Extract new task id", "type": "main", "index": 0 }]] },
    "Extract new task id": {
      "main": [[
        { "node": "Add incident label", "type": "main", "index": 0 },
        { "node": "Add agent label", "type": "main", "index": 0 },
        { "node": "Has source task?", "type": "main", "index": 0 }
      ]]
    },
    "Has source task?": {
      "main": [
        [{ "node": "Link source task", "type": "main", "index": 0 }],
        [{ "node": "Set high priority", "type": "main", "index": 0 }]
      ]
    },
    "Link source task": { "main": [[{ "node": "Set high priority", "type": "main", "index": 0 }]] },
    "Set high priority": { "main": [[{ "node": "Telegram notify", "type": "main", "index": 0 }]] },
    "Add incident label": { "main": [[{ "node": "Telegram notify", "type": "main", "index": 0 }]] },
    "Add agent label": { "main": [[{ "node": "Telegram notify", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "kaneo" }, { "name": "error-handling" }, { "name": "openclaw" }],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T00:00:00.000Z",
  "versionId": "1"
}
