roles/n8n-provision/files/workflows/error-to-task.json
{
  "name": "OpenClaw — Error to Palais Task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-to-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst secret = process.env.N8N_WEBHOOK_SECRET || '';\n\nif (secret && payload.secret !== secret) {\n  throw new Error('Invalid webhook secret');\n}\n\nconst required = ['error_message', 'project_id'];\nfor (const field of required) {\n  if (!payload[field]) throw new Error(`Missing required field: ${field}`);\n}\n\nreturn [{ json: {\n  error_message: (payload.error_message || '').slice(0, 500),\n  source_task_id: payload.source_task_id || null,\n  project_id: payload.project_id,\n  agent_id: payload.agent_id || 'unknown'\n}}];"
      },
      "id": "et-0001-0000-0000-0000-000000000002",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"accepted\", \"project_id\": \"{{ $json.project_id }}\" }"
      },
      "id": "et-0001-0000-0000-0000-000000000003",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 460]
    },
    {
      "parameters": {
        "jsCode": "// Build short error title (max 80 chars)\nconst ctx = $('Validate payload').first().json;\n\nconst shortError = ctx.error_message.length > 60\n  ? ctx.error_message.slice(0, 60) + '...'\n  : ctx.error_message;\n\nreturn [{ json: {\n  ...ctx,\n  error_title: `INCIDENT [${ctx.agent_id}]: ${shortError}`\n}}];"
      },
      "id": "et-0001-0000-0000-0000-000000000007",
      "name": "Prepare task data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://palais:3300/api/v1/projects/{{ $json.project_id }}/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key",    "value": "={{ $env.PALAIS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.error_title }}\",\n  \"description\": \"Erreur detectee par agent {{ $json.agent_id }}.\\n\\nMessage: {{ $json.error_message }}\",\n  \"status\": \"todo\",\n  \"priority\": \"high\"\n}",
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000008",
      "name": "Create correction task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "const newTask = $input.first().json;\nconst ctx = $('Prepare task data').first().json;\nconst new_task_id = newTask.id || newTask.data?.id;\nreturn [{ json: { ...ctx, new_task_id } }];"
      },
      "id": "et-0001-0000-0000-0000-000000000009",
      "name": "Extract new task id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://palais:3300/api/v1/memory/nodes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key",    "value": "={{ $env.PALAIS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"episodic\",\n  \"content\": \"INCIDENT [{{ $json.agent_id }}]: {{ $json.error_message }}\",\n  \"summary\": \"{{ $json.error_title }}\",\n  \"entityType\": \"error\",\n  \"tags\": [\"error\", \"agent:{{ $json.agent_id }}\", \"incident\"]\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "et-0001-0000-0000-0000-000000000016",
      "name": "Store in Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-source",
              "leftValue": "={{ $json.source_task_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000012",
      "name": "Has source task?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://palais:3300/api/v1/tasks/{{ $json.source_task_id }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key",    "value": "={{ $env.PALAIS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Erreur detectee — tache de correction creee : {{ $json.new_task_id }}\"\n}",
        "options": {},
        "continueOnFail": true
      },
      "id": "et-0001-0000-0000-0000-000000000013",
      "name": "Link source task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id",    "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}" },
            { "name": "text",       "value": "=⚠️ Incident detecte par agent {{ $json.agent_id }}\\n\\n{{ $json.error_message.slice(0, 200) }}\\n\\nTache Palais creee : {{ $json.new_task_id }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "et-0001-0000-0000-0000-000000000015",
      "name": "Telegram notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 340]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]] },
    "Validate payload": {
      "main": [[
        { "node": "Webhook Response", "type": "main", "index": 0 },
        { "node": "Prepare task data", "type": "main", "index": 0 }
      ]]
    },
    "Prepare task data": { "main": [[{ "node": "Create correction task", "type": "main", "index": 0 }]] },
    "Create correction task": { "main": [[{ "node": "Extract new task id", "type": "main", "index": 0 }]] },
    "Extract new task id": {
      "main": [[
        { "node": "Store in Memory", "type": "main", "index": 0 },
        { "node": "Has source task?", "type": "main", "index": 0 }
      ]]
    },
    "Has source task?": {
      "main": [
        [{ "node": "Link source task", "type": "main", "index": 0 }],
        [{ "node": "Telegram notify", "type": "main", "index": 0 }]
      ]
    },
    "Link source task": { "main": [[{ "node": "Telegram notify", "type": "main", "index": 0 }]] },
    "Store in Memory": { "main": [[{ "node": "Telegram notify", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "palais" }, { "name": "error-handling" }, { "name": "openclaw" }],
  "triggerCount": 1,
  "updatedAt": "2026-02-25T00:00:00.000Z",
  "versionId": "2"
}
