roles/n8n-provision/files/workflows/external-credit-sync.json
{
  "name": "External Credit Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "ecs-0001-0000-0000-0000-000000000001",
      "name": "Cron 6h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 320]
    },
    {
      "parameters": {
        "jsCode": "// Fetch pay-as-you-go account balances. One output item per provider.\n// Keys + tuning come from n8n env (see roles/n8n/templates/n8n.env.j2).\nconst EUR = parseFloat($env.EUR_PER_USD || '0.92');\nconst MIN = parseFloat($env.CREDIT_ALERT_MIN_USD || '5');\nconst toEur = (usd) => Math.round(usd * EUR * 100) / 100;\nconst round2 = (n) => Math.round(n * 100) / 100;\n\nasync function probe(provider, fn) {\n  try {\n    const usd = await fn();\n    if (usd === null || usd === undefined || isNaN(usd)) {\n      return { provider, ok: false, error: 'no balance value in API response' };\n    }\n    return {\n      provider,\n      ok: true,\n      balanceUsd: round2(usd),\n      balanceEur: toEur(usd),\n      thresholdUsd: MIN,\n      lowBalance: usd < MIN\n    };\n  } catch (e) {\n    return { provider, ok: false, error: e.message || String(e) };\n  }\n}\n\nconst results = [];\n\n// OpenRouter — remaining credit = total_credits - total_usage (USD)\nresults.push(await probe('openrouter', async () => {\n  const key = $env.OPENROUTER_API_KEY;\n  if (!key) throw new Error('OPENROUTER_API_KEY not set');\n  const r = await fetch('https://openrouter.ai/api/v1/credits', {\n    headers: { Authorization: 'Bearer ' + key }\n  });\n  if (!r.ok) throw new Error('HTTP ' + r.status);\n  const j = await r.json();\n  const d = j.data || {};\n  return (d.total_credits || 0) - (d.total_usage || 0);\n}));\n\n// Runpod — GraphQL clientBalance (USD)\nresults.push(await probe('runpod', async () => {\n  const key = $env.RUNPOD_API_KEY;\n  if (!key) throw new Error('RUNPOD_API_KEY not set');\n  const r = await fetch('https://api.runpod.io/graphql', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', Authorization: 'Bearer ' + key },\n    body: JSON.stringify({ query: '{ myself { clientBalance } }' })\n  });\n  if (!r.ok) throw new Error('HTTP ' + r.status);\n  const j = await r.json();\n  if (j.errors && j.errors.length) throw new Error(j.errors[0].message);\n  return j.data && j.data.myself ? j.data.myself.clientBalance : null;\n}));\n\n// fal.ai — best-effort (billing API path overridable via FAL_BALANCE_URL).\n// On failure the alert branch tells you to enter the credit manually.\nresults.push(await probe('fal.ai', async () => {\n  const key = $env.FAL_KEY;\n  if (!key) throw new Error('FAL_KEY not set');\n  const url = $env.FAL_BALANCE_URL || 'https://rest.alpha.fal.ai/billing/user_spend';\n  const r = await fetch(url, { headers: { Authorization: 'Key ' + key } });\n  if (!r.ok) throw new Error('HTTP ' + r.status + ' (override FAL_BALANCE_URL or enter fal credit manually)');\n  const j = await r.json();\n  const bal = j.balance ?? j.credit ?? j.remaining ?? j.available ?? null;\n  if (bal === null) throw new Error('balance field not found in fal response');\n  return bal;\n}));\n\nreturn results.map((json) => ({ json }));"
      },
      "id": "ecs-0001-0000-0000-0000-000000000002",
      "name": "Fetch balances",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ecs-0001-0000-0000-0000-000000000003",
      "name": "Balance fetched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PALAIS_INTERNAL_URL }}/api/v2/costs/entries",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.PALAIS_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider: $json.provider, category: 'credit', amountEur: $json.balanceEur, periodStart: $now.toISO(), periodEnd: $now.toISO(), description: $json.provider + ' account balance ($' + $json.balanceUsd + ')', rawData: { balance_usd: $json.balanceUsd, balance_eur: $json.balanceEur, threshold_usd: $json.thresholdUsd, low_balance: $json.lowBalance, checked_at: $now.toISO() } }) }}",
        "options": {}
      },
      "id": "ecs-0001-0000-0000-0000-000000000004",
      "name": "Record in Palais",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 220],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all provider results (runs once) → build a single alert if any\n// balance is below threshold or any fetch failed.\nconst items = $input.all().map((i) => i.json);\nconst low = items.filter((i) => i.ok && i.lowBalance);\nconst failed = items.filter((i) => !i.ok);\n\nif (low.length === 0 && failed.length === 0) {\n  return [{ json: { alert: false } }];\n}\n\nconst lines = ['\\uD83D\\uDCB3 <b>Suivi cr\\u00e9dits \\u2014 alerte soldes</b>', ''];\nfor (const i of items) {\n  if (i.ok) {\n    const e = i.lowBalance ? '\\uD83D\\uDD34' : '\\u2705';\n    lines.push(`${e} <b>${i.provider}</b> : $${i.balanceUsd} (~${i.balanceEur}\\u20ac)` + (i.lowBalance ? ` \\u2014 sous le seuil $${i.thresholdUsd}` : ''));\n  } else {\n    lines.push(`\\u26A0\\uFE0F <b>${i.provider}</b> : \\u00e9chec r\\u00e9cup\\u00e9ration \\u2014 ${i.error}`);\n  }\n}\nif (failed.some((f) => f.provider === 'fal.ai')) {\n  lines.push('');\n  lines.push('\\u2139\\uFE0F fal.ai : si l\\'API solde est indisponible, corrige FAL_BALANCE_URL ou saisis le cr\\u00e9dit \\u00e0 la main via POST /api/v2/costs/entries (provider=\"fal.ai\", category=\"credit\").');\n}\n\nreturn [{ json: { alert: true, message: lines.join('\\n') } }];"
      },
      "id": "ecs-0001-0000-0000-0000-000000000005",
      "name": "Evaluate alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-alert",
              "leftValue": "={{ $json.alert }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ecs-0001-0000-0000-0000-000000000006",
      "name": "Alert needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}" },
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "ecs-0001-0000-0000-0000-000000000007",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 440]
    }
  ],
  "connections": {
    "Cron 6h": { "main": [[{ "node": "Fetch balances", "type": "main", "index": 0 }]] },
    "Fetch balances": {
      "main": [
        [
          { "node": "Balance fetched?", "type": "main", "index": 0 },
          { "node": "Evaluate alerts", "type": "main", "index": 0 }
        ]
      ]
    },
    "Balance fetched?": {
      "main": [
        [{ "node": "Record in Palais", "type": "main", "index": 0 }],
        []
      ]
    },
    "Evaluate alerts": { "main": [[{ "node": "Alert needed?", "type": "main", "index": 0 }]] },
    "Alert needed?": {
      "main": [
        [{ "node": "Telegram Alert", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "budget" }, { "name": "monitoring" }, { "name": "credits" }],
  "triggerCount": 1,
  "updatedAt": "2026-06-14T00:00:00.000Z",
  "versionId": "1"
}
