roles/n8n-provision/files/workflows/kaneo-sync.json
{
  "name": "Kaneo — Sync Safety Net (cron 5min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "ksync-000-0000-0000-000000000001",
      "name": "Cron Every 5min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kaneo-api:1337/api/auth/sign-in/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"email\": \"{{ $env.KANEO_AGENT_EMAIL }}\", \"password\": \"{{ $env.KANEO_AGENT_PASSWORD }}\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ksync-000-0000-0000-000000000002",
      "name": "Auth Kaneo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract session cookie from auth response\nconst response = $input.first().json;\nconst headers = response.headers || {};\nconst setCookie = headers['set-cookie'] || [];\n\nlet cookie = '';\nif (Array.isArray(setCookie)) {\n  cookie = setCookie.map(c => c.split(';')[0]).join('; ');\n} else if (typeof setCookie === 'string') {\n  cookie = setCookie.split(';')[0];\n}\n\nif (!cookie) {\n  throw new Error('Kaneo auth failed: no session cookie.');\n}\n\nreturn [{ json: { cookie } }];"
      },
      "id": "ksync-000-0000-0000-000000000003",
      "name": "Extract Cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://kaneo-api:1337/api/project?workspaceId=' + $env.KANEO_WORKSPACE_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie", "value": "={{ $json.cookie }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ksync-000-0000-0000-000000000004",
      "name": "Get All Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "// For each project, collect tasks that are 'in-progress'\n// Also check Redis for pending_ops\nconst cookie = $('Extract Cookie').first().json.cookie;\nconst projects = $input.first().json;\nconst projectList = Array.isArray(projects) ? projects : (projects.projects || projects.data || []);\n\nconst results = [];\nfor (const project of projectList) {\n  results.push({\n    projectId: project.id,\n    projectName: project.name,\n    cookie: cookie\n  });\n}\n\n// If no projects exist yet, just return empty\nif (results.length === 0) {\n  return [{ json: { status: 'no_projects', message: 'No projects in Kaneo workspace yet.' } }];\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "ksync-000-0000-0000-000000000005",
      "name": "Parse Projects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-projects",
              "leftValue": "={{ $json.projectId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ksync-000-0000-0000-000000000006",
      "name": "Has Projects?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://kaneo-api:1337/api/task/tasks/' + $json.projectId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie", "value": "={{ $json.cookie }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ksync-000-0000-0000-000000000007",
      "name": "Get Tasks Per Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1580, 200]
    },
    {
      "parameters": {
        "jsCode": "// Check tasks that are stale (in-progress > 30min without update)\nconst cookie = $('Extract Cookie').first().json.cookie;\nconst tasks = $input.first().json;\nconst taskList = Array.isArray(tasks) ? tasks : (tasks.tasks || tasks.data || []);\n\nconst now = Date.now();\nconst STALE_THRESHOLD_MS = 30 * 60 * 1000; // 30 minutes\n\nconst staleTasks = [];\nfor (const task of taskList) {\n  if (task.status === 'in-progress') {\n    const updatedAt = new Date(task.updatedAt || task.createdAt).getTime();\n    const ageMs = now - updatedAt;\n    if (ageMs > STALE_THRESHOLD_MS) {\n      staleTasks.push({\n        taskId: task.id,\n        title: task.title,\n        status: task.status,\n        ageMinutes: Math.round(ageMs / 60000),\n        cookie: cookie\n      });\n    }\n  }\n}\n\nif (staleTasks.length === 0) {\n  return [{ json: { status: 'ok', message: 'No stale tasks found.' } }];\n}\n\nreturn staleTasks.map(t => ({ json: t }));"
      },
      "id": "ksync-000-0000-0000-000000000008",
      "name": "Find Stale Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-stale",
              "leftValue": "={{ $json.taskId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "ksync-000-0000-0000-000000000009",
      "name": "Has Stale Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2020, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kaneo-api:1337/api/activity/comment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Cookie", "value": "={{ $json.cookie }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"taskId\": \"{{ $json.taskId }}\", \"comment\": \"[SYNC] Tache en in-progress depuis {{ $json.ageMinutes }} min sans mise a jour.\" }"
      },
      "id": "ksync-000-0000-0000-000000000010",
      "name": "Comment Stale Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 100]
    },
    {
      "parameters": {
        "jsCode": "// Check Redis for pending operations from OpenClaw messenger\nconst items = $input.all();\n// Pass through — Redis check happens next\nreturn [{ json: { status: 'pending_ops_check', timestamp: new Date().toISOString() } }];"
      },
      "id": "ksync-000-0000-0000-000000000011",
      "name": "Pending Ops Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 500]
    },
    {
      "parameters": {
        "jsCode": "// Summary of sync run\nconst timestamp = new Date().toISOString();\nreturn [{ json: { status: 'sync_complete', timestamp: timestamp } }];"
      },
      "id": "ksync-000-0000-0000-000000000012",
      "name": "Sync Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2460, 300]
    }
  ],
  "connections": {
    "Cron Every 5min": {
      "main": [
        [
          { "node": "Auth Kaneo", "type": "main", "index": 0 }
        ]
      ]
    },
    "Auth Kaneo": {
      "main": [
        [
          { "node": "Extract Cookie", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Cookie": {
      "main": [
        [
          { "node": "Get All Projects", "type": "main", "index": 0 },
          { "node": "Pending Ops Check", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get All Projects": {
      "main": [
        [
          { "node": "Parse Projects", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Projects": {
      "main": [
        [
          { "node": "Has Projects?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Projects?": {
      "main": [
        [
          { "node": "Get Tasks Per Project", "type": "main", "index": 0 }
        ],
        [
          { "node": "Sync Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Tasks Per Project": {
      "main": [
        [
          { "node": "Find Stale Tasks", "type": "main", "index": 0 }
        ]
      ]
    },
    "Find Stale Tasks": {
      "main": [
        [
          { "node": "Has Stale Tasks?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Stale Tasks?": {
      "main": [
        [
          { "node": "Comment Stale Task", "type": "main", "index": 0 }
        ],
        [
          { "node": "Sync Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Comment Stale Task": {
      "main": [
        [
          { "node": "Sync Complete", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pending Ops Check": {
      "main": [
        [
          { "node": "Sync Complete", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
