roles/n8n-provision/files/workflows/project-status.json
{
  "name": "OpenClaw — Project Status Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ps-0001-0000-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst secret = process.env.N8N_WEBHOOK_SECRET || '';\n\nif (secret && payload.secret !== secret) {\n  throw new Error('Invalid webhook secret');\n}\n\nif (!payload.project_id) throw new Error('Missing required field: project_id');\n\nreturn [{ json: { project_id: payload.project_id } }];"
      },
      "id": "ps-0001-0000-0000-0000-000000000002",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kaneo-api:1337/api/auth/sign-in/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"email\": \"{{ $env.KANEO_AGENT_EMAIL }}\", \"password\": \"{{ $env.KANEO_AGENT_PASSWORD }}\" }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ps-0001-0000-0000-0000-000000000003",
      "name": "Auth Kaneo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst headers = response.headers || {};\nconst setCookie = headers['set-cookie'] || [];\nlet cookie = '';\nif (Array.isArray(setCookie)) {\n  cookie = setCookie.map(c => c.split(';')[0]).join('; ');\n} else if (typeof setCookie === 'string') {\n  cookie = setCookie.split(';')[0];\n}\nif (!cookie) throw new Error('Kaneo auth failed');\nconst ctx = $('Validate payload').first().json;\nreturn [{ json: { ...ctx, cookie } }];"
      },
      "id": "ps-0001-0000-0000-0000-000000000004",
      "name": "Extract cookie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://kaneo-api:1337/api/project/{{ $json.project_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie", "value": "={{ $json.cookie }}" }
          ]
        },
        "options": {}
      },
      "id": "ps-0001-0000-0000-0000-000000000005",
      "name": "Get project info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://kaneo-api:1337/api/task/tasks/{{ $json.project_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie", "value": "={{ $json.cookie }}" }
          ]
        },
        "options": {}
      },
      "id": "ps-0001-0000-0000-0000-000000000006",
      "name": "Get all tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build comprehensive project status report\nconst projectRaw = $('Get project info').first().json;\nconst tasksRaw = $('Get all tasks').first().json;\nconst ctx = $('Extract cookie').first().json;\n\nconst project = projectRaw.project || projectRaw.data || projectRaw || {};\nconst tasks = Array.isArray(tasksRaw) ? tasksRaw\n  : (tasksRaw.tasks || tasksRaw.data || []);\n\n// Count by status\nconst statusCounts = { done: 0, 'in-progress': 0, todo: 0, total: tasks.length };\nconst byAgent = {};\nconst blockedTasks = [];\nconst inProgressTasks = [];\n\nfor (const task of tasks) {\n  const status = (task.status || 'todo').toLowerCase();\n  statusCounts[status] = (statusCounts[status] || 0) + 1;\n\n  // Parse labels\n  const labels = task.labels || [];\n  for (const label of labels) {\n    const name = label.name || label || '';\n    if (name.startsWith('agent:')) {\n      const agentId = name.replace('agent:', '');\n      byAgent[agentId] = (byAgent[agentId] || 0) + 1;\n    }\n    if (name === 'blocked') blockedTasks.push(task.title || task.id);\n  }\n\n  if (status === 'in-progress') inProgressTasks.push(task.title || task.id);\n}\n\nconst completion = tasks.length > 0\n  ? Math.round((statusCounts.done / tasks.length) * 100)\n  : 0;\n\n// Format agent breakdown\nconst agentLines = Object.entries(byAgent)\n  .map(([id, count]) => `  - ${id}: ${count} taches`)\n  .join('\\n');\n\n// Build report\nconst report = [\n  `## Statut Projet : ${project.name || ctx.project_id}`,\n  ``,\n  `**Avancement** : ${completion}% (${statusCounts.done}/${tasks.length} done)`,\n  `**En cours** : ${statusCounts['in-progress']}`,\n  `**Backlog** : ${statusCounts.todo || 0}`,\n  ``,\n  `### Par agent`,\n  agentLines || '  Aucun agent assigne',\n  ``,\n  `### Taches en cours`,\n  inProgressTasks.length > 0 ? inProgressTasks.map(t => `  - ${t}`).join('\\n') : '  Aucune',\n  ``,\n  `### Taches bloquees`,\n  blockedTasks.length > 0 ? blockedTasks.map(t => `  - ${t}`).join('\\n') : '  Aucune'\n].join('\\n');\n\nreturn [{ json: {\n  project_id: ctx.project_id,\n  project_name: project.name || ctx.project_id,\n  total: tasks.length,\n  done: statusCounts.done,\n  in_progress: statusCounts['in-progress'],\n  todo: statusCounts.todo || 0,\n  completion_pct: completion,\n  blocked_count: blockedTasks.length,\n  by_agent: byAgent,\n  report,\n  cookie: ctx.cookie\n}}];"
      },
      "id": "ps-0001-0000-0000-0000-000000000007",
      "name": "Build status report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', project_id: $json.project_id, project_name: $json.project_name, total: $json.total, done: $json.done, in_progress: $json.in_progress, completion_pct: $json.completion_pct, by_agent: $json.by_agent, report: $json.report } }}"
      },
      "id": "ps-0001-0000-0000-0000-000000000008",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]] },
    "Validate payload": { "main": [[{ "node": "Auth Kaneo", "type": "main", "index": 0 }]] },
    "Auth Kaneo": { "main": [[{ "node": "Extract cookie", "type": "main", "index": 0 }]] },
    "Extract cookie": {
      "main": [[
        { "node": "Get project info", "type": "main", "index": 0 },
        { "node": "Get all tasks", "type": "main", "index": 0 }
      ]]
    },
    "Get project info": { "main": [[{ "node": "Build status report", "type": "main", "index": 0 }]] },
    "Get all tasks": { "main": [[{ "node": "Build status report", "type": "main", "index": 0 }]] },
    "Build status report": { "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "kaneo" }, { "name": "reporting" }, { "name": "openclaw" }],
  "triggerCount": 1,
  "updatedAt": "2026-02-23T00:00:00.000Z",
  "versionId": "1"
}
