scripts/n8n-workflows/metube-ingest.json
{
  "id": "mi-0001-0000-4000-8000-metubeingest1",
  "name": "OpenClaw — Metube Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "metube-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "mi-0001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "mi000001-5678-4000-8000-metubeingest1"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst secret = process.env.N8N_WEBHOOK_SECRET || '';\n\nif (secret && payload.secret !== secret) {\n  throw new Error('Invalid webhook secret');\n}\n\nconst required = ['url', 'brief'];\nfor (const f of required) {\n  if (!payload[f]) throw new Error(`Missing required field: ${f}`);\n}\n\nconst briefText = String(payload.brief).trim();\nconst style = String(payload.style || '').trim();\nconst format = payload.format || 'reel';\nconst title = (payload.title || briefText).slice(0, 80);\nconst sourceUrl = String(payload.url).trim();\n\nconst now = new Date();\n\nconst briefJson = {\n  objective: briefText,\n  source_url: sourceUrl,\n  submitted_at: now.toISOString()\n};\nif (style) briefJson.style = style;\n\nreturn [{ json: {\n  source_url: sourceUrl,\n  title,\n  format,\n  brief: briefJson,\n  metube_url: 'http://' + (process.env.WORKSTATION_PI_IP || '127.0.0.1') + ':8081',\n  metube_payload: {\n    url: sourceUrl,\n    download_type: 'video',\n    quality: '1080',\n    auto_start: true\n  }\n}}];"
      },
      "id": "mi-0001-0000-4000-8000-000000000002",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.metube_url + '/add' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.metube_payload) }}",
        "options": { "timeout": 30000 }
      },
      "id": "mi-0001-0000-4000-8000-000000000003",
      "name": "POST metube /add",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Validate & Prepare').first().json;\nconst metube = $input.first().json;\n\nreturn [{ json: {\n  ...ctx,\n  metube_queue_id: metube.id || metube.url || ctx.source_url\n}}];"
      },
      "id": "mi-0001-0000-4000-8000-000000000004",
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOCODB_BASE_URL + '/api/v2/tables/' + $env.NOCODB_CONTENTS_TABLE_ID + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token", "value": "={{ $env.NOCODB_API_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, format: $json.format, status: 'intake', brief: $json.brief }) }}",
        "options": {}
      },
      "id": "mi-0001-0000-4000-8000-000000000005",
      "name": "Create NocoDB record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "jsCode": "const nocodb = $input.first().json;\nconst ctx = $('Merge Context').first().json;\n\nconst content_id = String(nocodb.Id || nocodb.id);\n\nreturn [{ json: {\n  ...ctx,\n  content_id,\n  nocodb_id: content_id\n}}];"
      },
      "id": "mi-0001-0000-4000-8000-000000000006",
      "name": "Extract content_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', content_id: $json.content_id, title: $json.title, message: 'Téléchargement metube démarré. Analyse en cours.' } }}",
        "options": { "responseCode": 202 }
      },
      "id": "mi-0001-0000-4000-8000-000000000007",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id",    "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}" },
            { "name": "text",       "value": "=\ud83d\udce5 Metube ingest d\u00e9marr\u00e9\\n\\n<b>{{ $('Extract content_id').first().json.title }}</b>\\n\\n\ud83c\udfaf {{ $('Extract content_id').first().json.brief.objective.slice(0, 120) }}\\n\\n\ud83d\udd11 content_id: <code>{{ $('Extract content_id').first().json.content_id }}</code>" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        },
        "options": {}
      },
      "id": "mi-0001-0000-4000-8000-000000000008",
      "name": "Telegram notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Webhook":              { "main": [[{ "node": "Validate & Prepare",    "type": "main", "index": 0 }]] },
    "Validate & Prepare":   { "main": [[{ "node": "POST metube /add",       "type": "main", "index": 0 }]] },
    "POST metube /add":     { "main": [[{ "node": "Merge Context",          "type": "main", "index": 0 }]] },
    "Merge Context":        { "main": [[{ "node": "Create NocoDB record",   "type": "main", "index": 0 }]] },
    "Create NocoDB record": { "main": [[{ "node": "Extract content_id",     "type": "main", "index": 0 }]] },
    "Extract content_id":   { "main": [[{ "node": "Webhook Response",       "type": "main", "index": 0 }]] },
    "Webhook Response":     { "main": [[{ "node": "Telegram notify",        "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "openclaw" },
    { "name": "metube" },
    { "name": "video" },
    { "name": "content-factory" }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-19T00:00:00.000Z",
  "versionId": "1"
}
