scripts/n8n-workflows/mop-ingest-v1.json
{
  "id": "bnokIWFxoydTRbDH",
  "name": "mop-ingest-v1",
  "nodes": [
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000001",
      "name": "Intake",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        300
      ],
      "webhookId": "mop-ingest",
      "parameters": {
        "path": "mop-ingest",
        "formTitle": "Ingestion NOC Procedures",
        "formDescription": "Glisser-déposer les fichiers (PDF, PPTX, DOCX) à indexer dans la base de connaissances MOP",
        "formFields": {
          "values": [
            {
              "fieldLabel": "documents",
              "fieldType": "file",
              "acceptFileTypes": ".pdf,.pptx,.docx,.xlsx,.xls,.xlsm,.xlsb,.csv,.msg",
              "multipleFiles": true,
              "requiredField": true
            },
            {
              "fieldLabel": "source_kind",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "reference"
                  },
                  {
                    "option": "cas-usage"
                  },
                  {
                    "option": "cas-connu"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "sp"
                  },
                  {
                    "option": "procedure"
                  },
                  {
                    "option": "guide"
                  },
                  {
                    "option": "runbook"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "namespace",
              "placeholder": "mop (défaut)",
              "requiredField": false
            },
            {
              "fieldLabel": "language",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "fr"
                  },
                  {
                    "option": "en"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Indexer"
        }
      }
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000002",
      "name": "Setup KB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Creates mop_kb collection + 9 keyword payload indexes if absent.\n// Idempotent: GET first, PUT only on 404.\n\nconst http = require('http');\nconst QDRANT_HOST = 'qdrant';\nconst QDRANT_PORT = 6333;\nconst QDRANT_KEY = (() => { try { const e = require('fs').readFileSync('/proc/1/environ','utf8').split(String.fromCharCode(0)).find(x => x.startsWith('QDRANT_API_KEY=')); return e ? e.slice(15) : ''; } catch(_) { return ''; } })();\nconst COLLECTION  = 'mop_kb';\n\nfunction qdrantReq(method, path, body) {\n  return new Promise((resolve, reject) => {\n    const data = body ? JSON.stringify(body) : null;\n    const headers = { 'Content-Type': 'application/json', 'api-key': QDRANT_KEY };\n    if (data) headers['Content-Length'] = Buffer.byteLength(data);\n    const req = http.request(\n      { hostname: QDRANT_HOST, port: QDRANT_PORT, path, method, headers },\n      (res) => {\n        const chunks = [];\n        res.on('data', c => chunks.push(c));\n        res.on('end', () => {\n          const text = Buffer.concat(chunks).toString();\n          try { resolve({ status: res.statusCode, data: JSON.parse(text) }); }\n          catch (e) { resolve({ status: res.statusCode, data: text }); }\n        });\n      }\n    );\n    req.on('error', reject);\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nconst check = await qdrantReq('GET', `/collections/${COLLECTION}`);\n\nif (check.status !== 200) {\n  const create = await qdrantReq('PUT', `/collections/${COLLECTION}`, {\n    vectors: { size: 768, distance: 'Cosine' },\n  });\n  if (create.status !== 200) {\n    throw new Error('mop_kb creation failed: ' + JSON.stringify(create.data).slice(0, 300));\n  }\n\n  // 9 keyword payload indexes (mirror of memory_v1)\n  const INDEXES = ['doc_kind', 'repo', 'host_origin', 'source_kind', 'severity', 'category', 'phase', 'topic', 'tags'];\n  for (const field of INDEXES) {\n    const r = await qdrantReq('PUT', `/collections/${COLLECTION}/index`, {\n      field_name: field,\n      field_schema: 'keyword',\n    });\n    if (r.status !== 200) {\n      throw new Error(`Index creation failed for ${field}: ${JSON.stringify(r.data).slice(0, 200)}`);\n    }\n  }\n}\n\n// Pass through\nreturn $input.all().map(item => ({ json: item.json, binary: item.binary }));"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000003",
      "name": "Process Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        260
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// For each uploaded PDF:\n//   1. Call LiteLLM mop-ingest (Gemini 2.5 Pro multimodal) → structured markdown\n//   2. Chunk markdown (header-split + paragraph, 1600 chars, 200 overlap)\n//   3. Embed chunks in batches via mop-embed (text-embedding-004, 768 dims)\n//   4. Delete old points for same filename+namespace, upsert new batch to mop_kb\n// Architecture mirrors memory_v1 (25 payload fields, UUID from SHA256).\n\nconst http   = require('http');\nconst crypto = require('crypto');\n\nconst LITELLM_HOST = 'litellm';\nconst LITELLM_PORT = 4000;\nconst QDRANT_HOST  = 'qdrant';\nconst QDRANT_PORT  = 6333;\nconst COLLECTION   = 'mop_kb';\nconst LITELLM_KEY = (() => { try { const e = require('fs').readFileSync('/proc/1/environ','utf8').split(String.fromCharCode(0)).find(x => x.startsWith('LITELLM_API_KEY=')); return e ? e.slice(16) : ''; } catch(_) { return ''; } })();\nconst QDRANT_KEY = (() => { try { const e = require('fs').readFileSync('/proc/1/environ','utf8').split(String.fromCharCode(0)).find(x => x.startsWith('QDRANT_API_KEY=')); return e ? e.slice(15) : ''; } catch(_) { return ''; } })();\nconst GOTENBERG_HOST = 'gotenberg';\nconst GOTENBERG_PORT = 3000;\n\nfunction httpReq(host, port, method, path, body, extraHeaders) {\n  return new Promise((resolve, reject) => {\n    const data = body ? JSON.stringify(body) : null;\n    const headers = { 'Content-Type': 'application/json', ...(extraHeaders || {}) };\n    if (data) headers['Content-Length'] = Buffer.byteLength(data);\n    const req = http.request({ hostname: host, port, path, method, headers }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const text = Buffer.concat(chunks).toString();\n        try { resolve({ status: res.statusCode, data: JSON.parse(text) }); }\n        catch (e) { resolve({ status: res.statusCode, data: text }); }\n      });\n    });\n    req.on('error', reject);\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nfunction llm(path, body) {\n  return httpReq(LITELLM_HOST, LITELLM_PORT, 'POST', path, body, { Authorization: `Bearer ${LITELLM_KEY}` });\n}\n\nfunction qdrant(method, path, body) {\n  return httpReq(QDRANT_HOST, QDRANT_PORT, method, path, body, { 'api-key': QDRANT_KEY });\n}\n\nfunction sha256hex(s) {\n  return crypto.createHash('sha256').update(s).digest('hex');\n}\n\nfunction gotenbergConvert(filename, buf, mimeType) {\n  return new Promise((resolve, reject) => {\n    const boundary = 'GotenbergBoundary' + Date.now();\n    const CRLF = '\\r\\n';\n    const header = Buffer.from(\n      '--' + boundary + CRLF +\n      'Content-Disposition: form-data; name=\"files\"; filename=\"' + filename + '\"' + CRLF +\n      'Content-Type: ' + mimeType + CRLF + CRLF\n    );\n    const footer = Buffer.from(CRLF + '--' + boundary + '--' + CRLF);\n    const body = Buffer.concat([header, buf, footer]);\n    const headers = {\n      'Content-Type': 'multipart/form-data; boundary=' + boundary,\n      'Content-Length': body.length,\n    };\n    const req = http.request(\n      { hostname: GOTENBERG_HOST, port: GOTENBERG_PORT, path: '/forms/libreoffice/convert', method: 'POST', headers },\n      (res) => {\n        const chunks = [];\n        res.on('data', c => chunks.push(c));\n        res.on('end', () => resolve({ status: res.statusCode, data: Buffer.concat(chunks) }));\n      }\n    );\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n}\n\nfunction toUUID(hex) {\n  return [hex.slice(0,8), hex.slice(8,12), '4' + hex.slice(13,16), hex.slice(16,20), hex.slice(20,32)].join('-');\n}\n\nfunction chunkMarkdown(text) {\n  const MAX = 1600, OVL = 200;\n  const sections = text.split(/(?=\\n#{1,3} )/);\n  const chunks = [];\n  for (const sec of sections) {\n    if (!sec.trim()) continue;\n    if (sec.length <= MAX) { chunks.push(sec.trim()); continue; }\n    const paras = sec.split(/\\n\\n+/);\n    let buf = '';\n    for (const p of paras) {\n      if (!p.trim()) continue;\n      const candidate = buf ? buf + '\\n\\n' + p : p;\n      if (candidate.length <= MAX) { buf = candidate; continue; }\n      if (buf.trim()) chunks.push(buf.trim());\n      if (p.length <= MAX) { buf = p; continue; }\n      let s = p;\n      while (s.length > MAX) { chunks.push(s.slice(0, MAX)); s = s.slice(MAX - OVL); }\n      buf = s;\n    }\n    if (buf.trim()) chunks.push(buf.trim());\n  }\n  return chunks.filter(c => c.length >= 20);\n}\n\nfunction sectionHeader(chunk) {\n  const m = chunk.match(/^#{1,3} (.+)/m);\n  return m ? m[1].trim() : '';\n}\n\n// ── main ──────────────────────────────────────────────────────────────────────\nconst item     = $input.first();\nconst formData = item.json || {};\nconst binary   = item.binary || {};\n\nconst category   = String(formData.category   || 'sp');\nconst namespace  = String(formData.namespace  || 'mop').trim() || 'mop';\nconst language   = String(formData.language   || 'fr');\nconst sourceKind = String(formData.source_kind || 'reference');\nconst indexedAt  = new Date().toISOString();\nconst results    = [];\n\nconst MIME_MAP = {\n  pdf:  'application/pdf',\n  pptx: 'application/vnd.openxmlformats-officedocument.presentationml.presentation',\n  docx: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n  xlsx: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n  xls:  'application/vnd.ms-excel',\n  xlsm: 'application/vnd.ms-excel.sheet.macroEnabled.12',\n  xlsb: 'application/vnd.ms-excel.sheet.binary.macroEnabled.12',\n  csv:  'text/csv',\n};\nconst MSG2MD_HOST = 'msg2md';\nconst MSG2MD_PORT = 3100;\n\nfunction mimeFromName(n) {\n  const ext = (n.match(/\\.([^.]+)$/) || [])[1] || '';\n  return MIME_MAP[ext.toLowerCase()] || 'application/octet-stream';\n}\nconst files = await Promise.all(\n  Object.entries(binary)\n    .filter(([, v]) => v && v.data)\n    .map(async ([key, v]) => {\n      const fn = v.fileName || key;\n      const buf = await helpers.getBinaryDataBuffer(0, key);\n      return { key, filename: fn, mimeType: v.mimeType || mimeFromName(fn), base64: buf.toString('base64') };\n    })\n);\n\nif (files.length === 0) throw new Error('Aucun fichier trouvé dans le formulaire');\n\nconst INGEST_PROMPTS = {\n  pdf:  \"Tu es un expert en systèmes télécom (DWDM, SDH, IP/MPLS). Extrais la totalité de ce document technique NOC en markdown structuré. Respecte la hiérarchie: H1 titre, H2 sections, H3 sous-sections. Tableaux en format markdown. Procédures en listes numérotées. Conserve tous les codes alarme, références SP et commandes CLI. Retourne UNIQUEMENT le markdown, sans préambule ni commentaire.\",\n  pptx: \"Tu es un expert en systèmes télécom. Ce fichier est une présentation PowerPoint. Extrais le contenu de chaque diapositive en markdown structuré: H2 pour chaque titre de slide, H3 pour les sous-titres. Transcris tous les textes, tableaux, listes et légendes d'images. Conserve codes alarme, références SP et commandes CLI. Retourne UNIQUEMENT le markdown, sans préambule ni commentaire.\",\n  docx: \"Tu es un expert en systèmes télécom (DWDM, SDH, IP/MPLS). Ce fichier est un document Word. Extrais son contenu en markdown structuré: H1 titre principal, H2 chapitres, H3 sous-sections. Tableaux en format markdown. Procédures en listes numérotées. Conserve tous les codes alarme, références SP et commandes CLI. Retourne UNIQUEMENT le markdown, sans préambule ni commentaire.\",\n  xlsx: \"Tu es un expert en systèmes télécom (DWDM, SDH, IP/MPLS). Ce document est un tableau de base de connaissances NOC converti en PDF. Chaque ligne est un type d'incident ou une procédure. Les colonnes typiques sont : type de perte, réseau, descriptif, impact, cause probable, étapes de résolution, processus de communication, criticité, exemples d'alarmes.\\n\\nExtrais chaque entrée non-vide en markdown structuré :\\n- H2 pour chaque type d'incident/perte\\n- Sous chaque H2 : listes des champs renseignés (Cause, Résolution, Criticité, Exemples d'alarmes, etc.)\\n- Préserve les codes alarme, noms d'équipements, références opérateurs.\\n- Ignore les lignes entièrement vides.\\nRetourne UNIQUEMENT le markdown, sans préambule ni commentaire.\",\n  msg_images: \"Tu es un expert en systèmes télécom (DWDM, SDH, IP/MPLS, Ribbon). Ces captures d'écran proviennent d'un échange de support technique NOC. Décris chaque image en markdown structuré :\\n- Ce que l'interface affiche (type d'outil : NMS, CLI, alarme, PM counters, etc.)\\n- Les éléments techniques visibles : nœuds, ports, valeurs PM, états d'alarmes, commandes CLI et leur output, timestamps\\n- Toute valeur numérique ou code d'alarme lisible\\n\\nFormat : une section H3 par image, titrée \\\"Capture N\\\".\\nRetourne UNIQUEMENT le markdown, sans préambule ni commentaire.\",\n};\n\n['xls', 'xlsm', 'xlsb', 'csv'].forEach(e => INGEST_PROMPTS[e] = INGEST_PROMPTS.xlsx);\n\nconst EMBED_BATCH  = 50;\nconst UPSERT_BATCH = 100;\n\nfor (const file of files) {\n  const fileExt = ((file.filename.match(/\\.([^.]+)$/) || [])[1] || 'pdf').toLowerCase();\n  const INGEST_PROMPT = INGEST_PROMPTS[fileExt] || INGEST_PROMPTS.pdf;\n\n  // ── .msg: msg2md sidecar → markdown + optional Gemini image descriptions ──\n  if (fileExt === 'msg') {\n    const rawBuf = Buffer.from(file.base64, 'base64');\n    const boundary2 = 'Msg2mdBoundary' + Date.now();\n    const CRLF2 = '\\r\\n';\n    const msgHeader = Buffer.from(\n      '--' + boundary2 + CRLF2 +\n      'Content-Disposition: form-data; name=\"file\"; filename=\"' + file.filename + '\"' + CRLF2 +\n      'Content-Type: application/vnd.ms-outlook' + CRLF2 + CRLF2\n    );\n    const msgFooter = Buffer.from(CRLF2 + '--' + boundary2 + '--' + CRLF2);\n    const msgBody = Buffer.concat([msgHeader, rawBuf, msgFooter]);\n    const msg2mdResp = await new Promise((resolve, reject) => {\n      const req2 = http.request(\n        { hostname: MSG2MD_HOST, port: MSG2MD_PORT, path: '/convert', method: 'POST',\n          headers: { 'Content-Type': 'multipart/form-data; boundary=' + boundary2, 'Content-Length': msgBody.length } },\n        (res2) => {\n          const chunks2 = [];\n          res2.on('data', c => chunks2.push(c));\n          res2.on('end', () => {\n            const text2 = Buffer.concat(chunks2).toString();\n            try { resolve({ status: res2.statusCode, data: JSON.parse(text2) }); }\n            catch (e) { resolve({ status: res2.statusCode, data: text2 }); }\n          });\n        }\n      );\n      req2.on('error', reject);\n      req2.write(msgBody);\n      req2.end();\n    });\n    if (msg2mdResp.status !== 200) {\n      throw new Error(`msg2md conversion failed (${file.filename}): HTTP ${msg2mdResp.status} — ` + JSON.stringify(msg2mdResp.data).slice(0, 200));\n    }\n    const { markdown: msgMarkdown, images: msgImages } = msg2mdResp.data;\n    let fullMarkdown = msgMarkdown;\n    if (msgImages && msgImages.length > 0) {\n      const imageContent = [\n        { type: 'text', text: INGEST_PROMPTS.msg_images },\n        ...msgImages.map(img => ({\n          type: 'image_url',\n          image_url: { url: `data:${img.mimeType};base64,${img.base64}` },\n        })),\n      ];\n      const imgResp = await llm('/v1/chat/completions', {\n        model: 'mop-ingest',\n        max_tokens: 4096,\n        messages: [{ role: 'user', content: imageContent }],\n      });\n      if (imgResp.status === 200) {\n        const imageDescriptions = imgResp.data.choices[0].message.content;\n        fullMarkdown = msgMarkdown + '\\n\\n## Descriptions visuelles\\n' + imageDescriptions;\n      }\n    }\n    const titleM2 = fullMarkdown.match(/^#\\s+(.+)/m);\n    const docTitle2 = titleM2 ? titleM2[1].trim() : file.filename.replace(/\\.msg$/i, '');\n    const contentHash2 = sha256hex(fullMarkdown);\n    const refDocId2 = sha256hex(`${namespace}:${file.filename}:${indexedAt}`);\n    const chunks2 = chunkMarkdown(fullMarkdown);\n    if (chunks2.length === 0) throw new Error(`Aucun chunk produit pour ${file.filename}`);\n    await qdrant('POST', `/collections/${COLLECTION}/points/delete`, {\n      filter: { must: [\n        { key: 'filename', match: { value: file.filename } },\n        { key: 'namespace', match: { value: namespace } },\n      ]},\n    });\n    const allVecs2 = [];\n    for (let i = 0; i < chunks2.length; i += EMBED_BATCH) {\n      const batch = chunks2.slice(i, i + EMBED_BATCH);\n      const embResp = await llm('/v1/embeddings', { model: 'mop-embed', input: batch });\n      if (embResp.status !== 200) throw new Error('Embedding échoué (msg): ' + JSON.stringify(embResp.data).slice(0, 300));\n      const sorted = [...embResp.data.data].sort((a, b) => a.index - b.index);\n      allVecs2.push(...sorted.map(e => e.embedding));\n    }\n    const points2 = chunks2.map((chunk, idx) => ({\n      id: toUUID(sha256hex(`${refDocId2}:${idx}:${chunk.slice(0, 64)}`)),\n      vector: allVecs2[idx],\n      payload: {\n        schema_version: '1.0', embedding_model: 'text-embedding-004', embedding_dim: 768,\n        chunking_strategy_version: '1.0', ref_doc_id: refDocId2, repo: '', namespace,\n        host_origin: 'sese-ai', source_kind: sourceKind, doc_kind: category, topic: '',\n        severity: '', category, phase: '', relative_path: file.filename, filename: file.filename,\n        language, tags: [], git_commit_sha: '', content_hash: contentHash2,\n        chunk_index: idx, chunk_count: chunks2.length, chunking_kind: 'markdown_paragraph',\n        section: sectionHeader(chunk), title: docTitle2, indexed_at: indexedAt, text: chunk,\n      },\n    }));\n    for (let i = 0; i < points2.length; i += UPSERT_BATCH) {\n      const r = await qdrant('PUT', `/collections/${COLLECTION}/points`, { points: points2.slice(i, i + UPSERT_BATCH) });\n      if (r.status !== 200) throw new Error('Qdrant upsert échoué (msg): ' + JSON.stringify(r.data).slice(0, 300));\n    }\n    results.push({ filename: file.filename, chunks: chunks2.length, ref_doc_id: refDocId2 });\n    continue;\n  }\n  // ── end .msg branch ─────────────────────────────────────────────────────────\n\n  // 1a. Convert non-PDF (docx, pptx) → PDF via Gotenberg (Gemini only supports PDF)\n  let sendFile = file;\n  if (['docx', 'doc', 'pptx', 'ppt', 'xlsx', 'xls', 'xlsm', 'xlsb', 'csv'].includes(fileExt)) {\n    const rawBuf = Buffer.from(file.base64, 'base64');\n    const convResp = await gotenbergConvert(file.filename, rawBuf, file.mimeType);\n    if (convResp.status !== 200) {\n      throw new Error(`Conversion Gotenberg échouée (${file.filename}): HTTP ${convResp.status} — ` + convResp.data.toString().slice(0, 200));\n    }\n    sendFile = {\n      ...file,\n      filename: file.filename.replace(/\\.(docx?|pptx?)$/i, '.pdf'),\n      mimeType: 'application/pdf',\n      base64: convResp.data.toString('base64'),\n    };\n  }\n\n  // 1b. LLM extraction (Gemini 2.5 Pro multimodal)\n  const llmResp = await llm('/v1/chat/completions', {\n    model: 'mop-ingest',\n    max_tokens: 8192,\n    messages: [{ role: 'user', content: [\n      { type: 'text', text: INGEST_PROMPT },\n      { type: 'image_url', image_url: { url: `data:${sendFile.mimeType};base64,${sendFile.base64}` } },\n    ]}],\n  });\n  if (llmResp.status !== 200) {\n    throw new Error(`Extraction LLM échouée (${file.filename}): ` + JSON.stringify(llmResp.data).slice(0, 300));\n  }\n  const markdown   = llmResp.data.choices[0].message.content;\n  const titleM     = markdown.match(/^#\\s+(.+)/m);\n  const docTitle   = titleM ? titleM[1].trim() : file.filename.replace(/\\.(pdf|pptx|docx)$/i, '');\n  const contentHash = sha256hex(markdown);\n  const refDocId   = sha256hex(`${namespace}:${file.filename}:${indexedAt}`);\n\n  // 2. Chunk\n  const chunks = chunkMarkdown(markdown);\n  if (chunks.length === 0) throw new Error(`Aucun chunk produit pour ${file.filename}`);\n\n  // 3. Delete old points (same filename + namespace = idempotent re-ingest)\n  await qdrant('POST', `/collections/${COLLECTION}/points/delete`, {\n    filter: { must: [\n      { key: 'filename',  match: { value: file.filename } },\n      { key: 'namespace', match: { value: namespace } },\n    ]},\n  });\n\n  // 4. Embed in batches of 50\n  const allVecs = [];\n  for (let i = 0; i < chunks.length; i += EMBED_BATCH) {\n    const batch = chunks.slice(i, i + EMBED_BATCH);\n    const embResp = await llm('/v1/embeddings', { model: 'mop-embed', input: batch });\n    if (embResp.status !== 200) {\n      throw new Error('Embedding échoué: ' + JSON.stringify(embResp.data).slice(0, 300));\n    }\n    const sorted = [...embResp.data.data].sort((a, b) => a.index - b.index);\n    allVecs.push(...sorted.map(e => e.embedding));\n  }\n\n  // 5. Build points (25 payload fields — memory_v1 schema)\n  const points = chunks.map((chunk, idx) => ({\n    id: toUUID(sha256hex(`${refDocId}:${idx}:${chunk.slice(0, 64)}`)),\n    vector: allVecs[idx],\n    payload: {\n      schema_version:            '1.0',\n      embedding_model:           'text-embedding-004',\n      embedding_dim:             768,\n      chunking_strategy_version: '1.0',\n      ref_doc_id:                refDocId,\n      repo:                      '',\n      namespace,\n      host_origin:               'sese-ai',\n      source_kind:               sourceKind,\n      doc_kind:                  category,\n      topic:                     '',\n      severity:                  '',\n      category,\n      phase:                     '',\n      relative_path:             file.filename,\n      filename:                  file.filename,\n      language,\n      tags:                      [],\n      git_commit_sha:            '',\n      content_hash:              contentHash,\n      chunk_index:               idx,\n      chunk_count:               chunks.length,\n      chunking_kind:             'markdown_paragraph',\n      section:                   sectionHeader(chunk),\n      title:                     docTitle,\n      indexed_at:                indexedAt,\n      text:                      chunk,\n    },\n  }));\n\n  // 6. Upsert in batches of 100\n  for (let i = 0; i < points.length; i += UPSERT_BATCH) {\n    const r = await qdrant('PUT', `/collections/${COLLECTION}/points`, { points: points.slice(i, i + UPSERT_BATCH) });\n    if (r.status !== 200) {\n      throw new Error('Qdrant upsert échoué: ' + JSON.stringify(r.data).slice(0, 300));\n    }\n  }\n\n  results.push({ filename: file.filename, chunks: chunks.length, ref_doc_id: refDocId });\n}\n\nreturn [{ json: {\n  ok: true,\n  files: results,\n  total_chunks: results.reduce((s, r) => s + r.chunks, 0),\n} }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000004",
      "name": "Done",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        900,
        220
      ],
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ '<h2>Indexation terminée</h2><p>' + $json.total_chunks + ' chunks indexés dans mop_kb pour ' + $json.files.length + ' fichier(s).</p><p style=\"margin-top:1.5em\"><a href=\"/form/mop-ingest\" style=\"display:inline-block;padding:0.6em 1.4em;background:#4f46e5;color:#fff;border-radius:6px;text-decoration:none;font-weight:600\">&#8592; Indexer un autre fichier</a></p>' }}",
        "options": {}
      }
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000005",
      "name": "Done (Error)",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        900,
        420
      ],
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ '<h2>Erreur d\\'indexation</h2><pre>' + ($json.error && $json.error.message ? $json.error.message : ($json.error || 'erreur inconnue')) + '</pre><p style=\"margin-top:1.5em\"><a href=\"/form/mop-ingest\" style=\"display:inline-block;padding:0.6em 1.4em;background:#4f46e5;color:#fff;border-radius:6px;text-decoration:none;font-weight:600\">&#8592; Indexer un autre fichier</a></p>' }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Intake": {
      "main": [
        [
          {
            "node": "Setup KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup KB": {
      "main": [
        [
          {
            "node": "Process Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Files": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}