scripts/n8n-workflows/mop-get.json
{
  "id": "FFIkjYMyxLdHroAN",
  "name": "mop-get",
  "nodes": [
    {
      "id": "mg-0001-0000-0000-000000000001",
      "name": "Webhook mop-get",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mop-get",
      "parameters": {
        "httpMethod": "GET",
        "path": "mop-get",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000002",
      "name": "SOP Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const SOPS = {\n  '10-SOP': {\n    titre: 'Vérification OOB & Accès management',\n    ref: 'OPSSD-03.03.S0.10-SOP',\n    resume: 'Confirmer l\\'accès OOB, Lightsoft et les accès management. Prérequis universel — à déclencher en premier sur tout incident.',\n    etapes: [\n      { num: 1, titre: 'Ping gateway OOB', desc: 'Depuis la station NOC, ping 10.0.0.1. Timeout = problème réseau OOB.', sp_ref: '' },\n      { num: 2, titre: 'Ouvrir Lightsoft', desc: 'URL: http://lightsoft.internal — login admin.', sp_ref: 'OPSCNY-01-01' },\n      { num: 3, titre: 'Vérifier alarmes actives', desc: 'Menu Supervision > Alarmes. Noter criticité et heure.', sp_ref: '' },\n      { num: 4, titre: 'Tester accès SSH équipements', desc: 'ssh admin@<node-ip> sur chaque châssis concerné. Timeout = vérifier règles firewall Lugos.', sp_ref: '' },\n      { num: 5, titre: 'Vérifier firewall Lugos si CLI KO', desc: 'Si OOB OK mais CLI KO : lugos show rules | grep management. Confirmer IPs NOC autorisées.', sp_ref: '' },\n    ]\n  },\n  '11-SOP': {\n    titre: 'Analyse Optique SFP',\n    ref: 'OPSSD-03.03.S0.11-SOP',\n    resume: 'Analyser les compteurs PM (FEC/BER/ES/SES) et la puissance optique SFP sur les ports OTN.',\n    etapes: [\n      { num: 1, titre: 'Lightsoft > PM Counters', desc: 'Sélectionner port > onglet Performance Monitoring > période 24h.', sp_ref: 'OPSCNY-02-13' },\n      { num: 2, titre: 'Lire FEC corrected/uncorrected', desc: 'FEC corrected en hausse = dégradation optique. Uncorrected > 0 = critique.', sp_ref: '' },\n      { num: 3, titre: 'Vérifier BER pre/post FEC', desc: 'Pre-FEC BER > 1e-3 = problème signal. Post-FEC BER > 0 = urgence.', sp_ref: '' },\n      { num: 4, titre: 'Analyser ES / SES sur 24h', desc: 'ES < 0.4% sur 24h (ITU-T G.826). SES < 0.05%. Dépassement = dégradation confirmée.', sp_ref: 'OPSCNY-02-13' },\n      { num: 5, titre: 'Mesurer puissance optique SFP', desc: 'Power meter sur connecteur d\\'entrée port concerné. Comparer aux specs SFP constructeur.', sp_ref: '' },\n    ]\n  },\n  '12-SOP': {\n    titre: 'Test Viavi E2E',\n    ref: 'OPSSD-03.03.S0.12-SOP',\n    resume: 'Test de validation RFC 2544 / OTU2 E2E après remplacement physique ou troubleshooting client.',\n    etapes: [\n      { num: 1, titre: 'Connecter le Viavi MTS-5800', desc: 'Port OTU2 du MTS-5800 sur le port UNI/NNI à valider. Mode: OTU2 10.7G.', sp_ref: 'OPSCNY-02-14' },\n      { num: 2, titre: 'Configurer le test RFC 2544', desc: 'Throughput, Latency, Frame Loss, Back-to-Back. Taille trames: 64, 128, 256, 512, 1024, 1518 bytes.', sp_ref: '' },\n      { num: 3, titre: 'Lancer le test', desc: 'Durée minimale: 60s par taille de trame. Enregistrer les résultats.', sp_ref: '' },\n      { num: 4, titre: 'Valider les seuils', desc: 'Throughput > 99.9%. Latency < 1ms. Frame Loss = 0%. B2B > 90 frames.', sp_ref: 'OPSCNY-02-14' },\n      { num: 5, titre: 'Exporter le rapport Viavi', desc: 'MTS-5800 > Reports > Export PDF. Joindre au rapport d\\'intervention final.', sp_ref: 'OPSCNY-02-14' },\n    ]\n  },\n  '13-SOP': {\n    titre: 'Remplacement matériel (carte + SFP)',\n    ref: 'OPSSD-03.03.S0.13-SOP',\n    resume: 'Remplacement d\\'une carte service (LB/HB/VHB) ou d\\'un SFP défectueux sur châssis Ribbon Apollo.',\n    etapes: [\n      { num: 1, titre: 'Confirmer la panne', desc: 'Lightsoft : carte en état FAILED ou MISMATCH, ou SFP en LOS persistant.', sp_ref: '' },\n      { num: 2, titre: 'Prévoir le spare', desc: 'Vérifier stock spare. Référence carte : étiquette châssis. Même référence SFP (λ, portée).', sp_ref: '' },\n      { num: 3, titre: 'Informer les clients affectés', desc: 'Identifier les ports UNI/NNI impactés. Notifier avant intervention.', sp_ref: '' },\n      { num: 4, titre: 'Extraire le matériel défaillant', desc: 'Déverrouiller la carte ou SFP. ESD obligatoire. Tirer avec précaution.', sp_ref: '' },\n      { num: 5, titre: 'Insérer le matériel de remplacement', desc: 'Insérer jusqu\\'au clic. Lightsoft : état IN-SERVICE sous 2 min.', sp_ref: '' },\n      { num: 6, titre: 'Valider E2E', desc: '12-SOP (Test Viavi E2E) obligatoire pour confirmation service.', sp_ref: 'OPSCNY-02-14' },\n    ]\n  },\n  '14-SOP': {\n    titre: 'Diagnostic signal OTN (OSNR + FEC/BER)',\n    ref: 'OPSSD-03.03.S0.14-SOP',\n    resume: 'Diagnostic complet signal OTN : OSNR, SPAN LOSS, FEC/BER et gestion bascule OLP.',\n    etapes: [\n      { num: 1, titre: 'Ouvrir Lightsoft > Supervision', desc: 'Menu Supervision > Vue topologie > sélectionner le lien concerné.', sp_ref: 'OPSCNY-01-03' },\n      { num: 2, titre: 'Relever OSNR', desc: 'Colonne OSNR doit être > 12 dB sur chaque canal. Valeur < 10 dB = critique.', sp_ref: '' },\n      { num: 3, titre: 'Mesurer SPAN LOSS', desc: 'Span Loss = différence Tx/Rx en dBm. Seuil normal < 20 dB.', sp_ref: '' },\n      { num: 4, titre: 'Vérifier protection OLP', desc: 'Lightsoft > Protection > état Working/Protect. Si bascule active : identifier chemin Working et cause.', sp_ref: '' },\n      { num: 5, titre: 'Inspecter connecteurs et SFP', desc: 'Si SPAN LOSS élevé : nettoyer connecteurs SC/PC (kit IBC). Power meter sur port.', sp_ref: '' },\n    ]\n  },\n  '15-SOP': {\n    titre: 'Escalade Constructeur (Ribbon)',\n    ref: 'OPSSD-03.03.S0.15-SOP',\n    resume: 'Ouvrir un SR Ribbon TAC si l\\'incident n\\'est pas résolu après 10-SOP ou 11-SOP.',\n    etapes: [\n      { num: 1, titre: 'Préparer les informations', desc: 'Numéro de châssis, version logicielle, alarmes actives, logs GCC.', sp_ref: '' },\n      { num: 2, titre: 'Créer le SR', desc: 'Portal : support.ribboncommunications.com > Create Service Request.', sp_ref: '' },\n      { num: 3, titre: 'Envoyer les logs', desc: 'Lightsoft > Export > System Logs (24h). Joindre au SR.', sp_ref: '' },\n    ]\n  },\n  '16-SOP': {\n    titre: 'Escalade Supervision (Lugos)',\n    ref: 'OPSSD-03.03.S0.16-SOP',\n    resume: 'Escalade vers l\\'équipe supervision Lugos si l\\'incident persiste après 10-SOP.',\n    etapes: [\n      { num: 1, titre: 'Documenter l\\'incident', desc: 'Consigner symptômes, heure de début, SOPs déjà appliquées et résultats.', sp_ref: '' },\n      { num: 2, titre: 'Contacter Lugos NOC', desc: 'Ticket portail Lugos avec logs Lightsoft. Indiquer criticité et clients impactés.', sp_ref: '' },\n      { num: 3, titre: 'Suivre le cas', desc: 'Mettre à jour le ticket toutes les 30 min. Escalade niveau 2 si pas de réponse sous 1h.', sp_ref: '' },\n    ]\n  },\n  '17-SOP': {\n    titre: 'Escalade Opérateur',\n    ref: 'OPSSD-03.03.S0.17-SOP',\n    resume: 'Escalade vers l\\'opérateur (Cogent / EuNetwork) pour incident LOS ou bascule OLP non résolu.',\n    etapes: [\n      { num: 1, titre: 'Confirmer l\\'origine opérateur', desc: 'Isoler : LOS sur plusieurs NNI ou OLP déclenché côté opérateur (pas côté équipement).', sp_ref: '' },\n      { num: 2, titre: 'Contacter le NOC opérateur', desc: 'Cogent NOC : ticket portail / hotline. EuNetwork NOC : portail dédié.', sp_ref: '' },\n      { num: 3, titre: 'Fournir les métriques', desc: 'OSNR, puissance Rx, heure et durée de l\\'incident. Résultats 14-SOP joints.', sp_ref: '' },\n      { num: 4, titre: 'Documenter', desc: 'Référence ticket opérateur dans le rapport d\\'incident final.', sp_ref: '' },\n    ]\n  },\n};\n\nconst q = $input.first().json.query || {};\nconst sop_id = q.sop_id;\nconst sops_list = (q.sops_list || '').split(',').filter(Boolean);\nconst idx = parseInt(q.idx ?? '0', 10);\n\nif (!sop_id) {\n  return [{ json: { error: 'missing sop_id', statusCode: 400 } }];\n}\n\nconst sop = SOPS[sop_id];\nif (!sop) {\n  return [{ json: { error: `SOP ${sop_id} inconnue`, statusCode: 404 } }];\n}\n\nconst next_idx = idx + 1;\nconst is_last = next_idx >= sops_list.length;\nconst next_sop = is_last ? null : sops_list[next_idx];\n\n// Build formatted display text for Typebot\nconst etapes_text = (sop.etapes || []).map(e => {\n  const ref = e.sp_ref ? ` _(réf: ${e.sp_ref})_` : '';\n  return `**Étape ${e.num} — ${e.titre}**\\n${e.desc}${ref}`;\n}).join('\\n\\n');\nconst formatted_display = `## ${sop_id} — ${sop.titre}\\n\\n_${sop.resume}_\\n\\n${etapes_text}`;\n\nreturn [{ json: { ...sop, sop_id, next_sop, is_last, current_idx: idx, formatted_display } }];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook mop-get": {
      "main": [
        [
          {
            "node": "SOP Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOP Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}