scripts/n8n-workflows/mop-generator-v1.json
{
  "name": "mop-generator-v1",
  "nodes": [
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000001",
      "name": "Intake",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        300
      ],
      "webhookId": "mop-generator",
      "parameters": {
        "path": "mop-generator",
        "formTitle": "Generate MOP",
        "formDescription": "Step 1/3 - incident overview",
        "formFields": {
          "values": [
            {
              "fieldLabel": "title",
              "placeholder": "e.g. Alarme LOS voie TH site TH2",
              "requiredField": true
            },
            {
              "fieldLabel": "severity",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "minor"
                  },
                  {
                    "option": "major"
                  },
                  {
                    "option": "critical"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "perimeter",
              "placeholder": "e.g. DWDM Metro Nord",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Next"
        }
      }
    },
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000002",
      "name": "Context",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "parameters": {
        "operation": "page",
        "formTitle": "Generate MOP",
        "formDescription": "Step 2/3 - context",
        "formFields": {
          "values": [
            {
              "fieldLabel": "keywords",
              "placeholder": "OTU2, alarme AIS, carte ligne",
              "requiredField": false
            },
            {
              "fieldLabel": "incident",
              "fieldType": "textarea",
              "placeholder": "Alarme AIS sur port client 10GE, trafic down depuis 14:32...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Next"
        }
      }
    },
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000003",
      "name": "Steps",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "parameters": {
        "operation": "page",
        "formTitle": "Generate MOP",
        "formDescription": "Step 3/3 - steps (one per line: `title | description | sp-ref`)",
        "formFields": {
          "values": [
            {
              "fieldLabel": "steps",
              "fieldType": "textarea",
              "placeholder": "Verifier alarmes NMS | Ouvrir NMS filtrer par equipement | SP-NMS-001\nIsoler la carte | Passer en out-of-service | SP-OTU-017\nRemplacer la carte | Remplacement hardware par spare | SP-HW-042",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Generate PDF"
        }
      }
    },
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000004",
      "name": "Aggregate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "agg-1",
              "name": "title",
              "value": "={{ $('Intake').item.json.title }}",
              "type": "string"
            },
            {
              "id": "agg-2",
              "name": "severity",
              "value": "={{ $('Intake').item.json.severity }}",
              "type": "string"
            },
            {
              "id": "agg-3",
              "name": "perimeter",
              "value": "={{ $('Intake').item.json.perimeter }}",
              "type": "string"
            },
            {
              "id": "agg-4",
              "name": "keywords",
              "value": "={{ ($('Context').item.json.keywords || '').split(',').map(s => s.trim()).filter(Boolean) }}",
              "type": "array"
            },
            {
              "id": "agg-5",
              "name": "incident",
              "value": "={{ $('Context').item.json.incident }}",
              "type": "string"
            },
            {
              "id": "agg-6",
              "name": "steps",
              "value": "={{ ($('Steps').item.json.steps || '').split('\\n').map(l => l.trim()).filter(Boolean).map(l => { const p = l.split('|').map(x => x.trim()); return { title: p[0] || '', body: p[1] || '', link_sp: p[2] || '' }; }) }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000005",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/mop-render",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000006",
      "name": "Read PDF",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1340,
        260
      ],
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ '/data/mop/pdf/' + $json.id + '.pdf' }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000007",
      "name": "Done (PDF)",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1560,
        220
      ],
      "parameters": {
        "operation": "completion",
        "completionTitle": "MOP generated",
        "completionMessage": "Your MOP has been created. The PDF download should start automatically.",
        "respondWith": "returnBinary",
        "inputDataFieldName": "data",
        "options": {}
      }
    },
    {
      "id": "1b9a4a0e-0002-4000-8000-000000000008",
      "name": "Done (Error)",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1560,
        460
      ],
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ '<h2>MOP generation failed</h2><pre>' + ($json.error && $json.error.message ? $json.error.message : ($json.error || 'unknown error')) + '</pre>' }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Intake": {
      "main": [
        [
          {
            "node": "Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context": {
      "main": [
        [
          {
            "node": "Steps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Steps": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF": {
      "main": [
        [
          {
            "node": "Done (PDF)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
