scripts/n8n-workflows/mop-route.json
{
  "id": "kQRrDB7w5wfqWIrG",
  "name": "mop-route",
  "nodes": [
    {
      "id": "mr-0001-0000-0000-000000000001",
      "name": "Webhook mop-route",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mop-route",
      "parameters": {
        "httpMethod": "POST",
        "path": "mop-route",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mr-0001-0000-0000-000000000002",
      "name": "SOP Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const MATRIX = {\n  'SUPERVISION': {\n    MINEUR:   ['10-SOP'],\n    MAJEUR:   ['10-SOP', '15-SOP', '12-SOP', '11-SOP'],\n    CRITIQUE: ['10-SOP', '15-SOP', '13-SOP', '11-SOP'],\n  },\n  'PHOTONIQUE': {\n    MINEUR:   ['10-SOP', '14-SOP'],\n    MAJEUR:   ['10-SOP', '14-SOP', '12-SOP', '11-SOP'],\n    CRITIQUE: ['10-SOP', '14-SOP', '11-SOP', '16-SOP', '12-SOP', '17-SOP'],\n  },\n  'CARTE SERVICE': {\n    MINEUR:   ['10-SOP', '11-SOP'],\n    MAJEUR:   ['10-SOP', '11-SOP', '16-SOP'],\n    CRITIQUE: ['10-SOP', '11-SOP', '16-SOP', '12-SOP'],\n  },\n  'CARTE MANAGEMENT': {\n    MINEUR:   ['10-SOP', '15-SOP'],\n    MAJEUR:   ['10-SOP', '15-SOP', '13-SOP', '16-SOP', '11-SOP'],\n    CRITIQUE: ['10-SOP', '15-SOP', '13-SOP', '16-SOP', '11-SOP', '12-SOP'],\n  },\n  'CARTE INFRA': {\n    MINEUR:   ['10-SOP', '11-SOP'],\n    MAJEUR:   ['10-SOP', '11-SOP', '13-SOP', '16-SOP'],\n    CRITIQUE: ['10-SOP', '11-SOP', '16-SOP', '12-SOP'],\n  },\n  'CHASSIS': {\n    MINEUR:   ['10-SOP', '11-SOP'],\n    MAJEUR:   ['10-SOP', '11-SOP', '16-SOP'],\n    CRITIQUE: ['10-SOP', '14-SOP', '11-SOP', '16-SOP', '12-SOP'],\n  },\n  'PORT NNI': {\n    MINEUR:   ['10-SOP', '14-SOP'],\n    MAJEUR:   ['10-SOP', '14-SOP', '16-SOP', '11-SOP'],\n    CRITIQUE: ['10-SOP', '14-SOP', '16-SOP', '11-SOP', '12-SOP'],\n  },\n  'PORT UNI': {\n    MINEUR:   ['10-SOP', '14-SOP'],\n    MAJEUR:   ['10-SOP', '14-SOP', '16-SOP'],\n    CRITIQUE: ['10-SOP', '14-SOP', '16-SOP', '11-SOP'],\n  },\n};\n\nconst body = $input.first().json.body || $input.first().json;\nconst { incident_type, criticite } = body;\n\nif (!incident_type || !criticite) {\n  return [{ json: { error: 'missing incident_type or criticite', statusCode: 400 } }];\n}\n\nconst sops = MATRIX[incident_type]?.[criticite] ?? ['10-SOP'];\nconst incident_id = 'INC-' + new Date().toISOString().replace(/[-:T.Z]/g, '').slice(0, 14);\n\nreturn [{ json: { sops, sops_csv: sops.join(','), total: sops.length, incident_id } }];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mr-0001-0000-0000-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook mop-route": {
      "main": [
        [
          {
            "node": "SOP Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOP Matrix": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}