scripts/n8n-workflows/mop-generate.json
{
  "name": "mop-generate",
  "nodes": [
    {
      "id": "mg-0001-0000-0000-000000000001",
      "name": "Webhook mop-generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mop-generate",
      "parameters": {
        "httpMethod": "POST",
        "path": "mop-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000002",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const SOPS = {\n  'SOP-01': { nom: 'Qualification initiale alarme', objectif: 'Identifier et qualifier l\\'alarme dans Lightsoft + Vizee, évaluer l\\'impact opérationnel, horodater l\\'incident.' },\n  'SOP-02': { nom: 'Vérification rack OOB', objectif: 'Contrôler l\\'infrastructure OOB : alimentation, switch, firewall Vizee, câblage, caméra, Lugos.' },\n  'SOP-03': { nom: 'Vérification supervision Lightsoft', objectif: 'Vérifier la session Lightsoft et l\\'accessibilité des NEs via Radius/STMS.' },\n  'SOP-04': { nom: 'Vérification bascule OLP + OSNR', objectif: 'Tester la bascule OLP et contrôler les niveaux OSNR sur les 2 ports optiques.' },\n  'SOP-05': { nom: 'Vérification physique rack OTN', objectif: 'Vérification physique sur site : voyants cartes, alimentation, ventilation, identification par photo.' },\n  'SOP-06': { nom: 'Vérification carte RCP', objectif: 'Basculer la carte RCP A\\u2192B et vérifier câblage cuivre + état File System.' },\n  'SOP-07': { nom: 'Vérification port SFP + jarretière', objectif: 'Inspecter le port SFP et la jarretière optique : état, propreté, alignement, côté opérateur.' },\n  'SOP-08': { nom: 'Ouverture ticket opérateur', objectif: 'Ouvrir un ticket auprès de l\\'opérateur tiers (Cogent, EuNetwork) et suivre la résolution.' },\n  'SOP-09': { nom: 'Ouverture ticket Lugos', objectif: 'Ouvrir un ticket Lugos pour intervention OOB ou câblage terrain.' },\n  'SOP-10': { nom: 'Ouverture ticket Ribbon + RMA', objectif: 'Ouvrir un ticket Ribbon avec numéro de série (Vizee) et initier le processus RMA.' },\n  'SOP-11': { nom: 'Communication incident', objectif: 'Informer sites, manager, Ribbon ; envoyer mail d\\'incident et mails de suivi toutes les 30 min jusqu\\'à clôture.' },\n  'SOP-12': { nom: 'Lecture PM Counters Lightsoft', objectif: 'Lire les PM Counters Lightsoft (OPR/OPT, FEC, BER) pour analyse qualité de lien.' },\n  'SOP-13': { nom: 'Validation post-résolution — Test Viavi OTU2 (RFC 2544)', objectif: 'Valider la conformité du lien restauré par test RFC 2544 (2 Viavi OTU2) aux 2 extrémités.' },\n};\n\nconst PHASE_MAP = {\n  'SOP-01': 1,\n  'SOP-02': 2, 'SOP-03': 2, 'SOP-04': 2, 'SOP-05': 2, 'SOP-06': 2, 'SOP-07': 2, 'SOP-12': 2,\n  'SOP-08': 3, 'SOP-09': 3, 'SOP-10': 3,\n  'SOP-11': 4,\n  'SOP-13': 5,\n};\n\nconst PHASES = {\n  1: { nom: 'Qualification', description: 'Qualifier l\\'alarme, évaluer l\\'impact opérationnel et horodater l\\'incident pour initialiser le traitement.' },\n  2: { nom: 'Diagnostic & Intervention', description: 'Identifier la cause racine par des vérifications techniques ciblées sur les équipements concernés.' },\n  3: { nom: 'Escalade / RMA', description: 'Ouvrir les tickets opérateur/constructeur et initier le processus RMA si remplacement matériel nécessaire.' },\n  4: { nom: 'Communication', description: 'Informer toutes les parties prenantes (sites, manager, constructeur) et assurer le suivi jusqu\\'à clôture.' },\n  5: { nom: 'Validation', description: 'Valider la conformité du lien restauré par test RFC 2544 (Viavi OTU2) avant remise en service définitive.' },\n};\n\nconst body = $input.first().json.body || $input.first().json;\nconst { incident_id, incident_type, sous_type, criticite, sops, site, equipment, technicien, date_intervention, heure_debut } = body;\n\nconst sopsArr = typeof sops === 'string' ? sops.split(',').map(s => s.trim()).filter(Boolean) : (sops || []);\n\nconst phaseGroups = {};\nfor (const s of sopsArr) {\n  const ph = PHASE_MAP[s] || 2;\n  if (!phaseGroups[ph]) phaseGroups[ph] = [];\n  phaseGroups[ph].push(s);\n}\n\nconst phaseNums = Object.keys(phaseGroups).map(Number).sort();\nlet phasesHtml = '';\nfor (const phNum of phaseNums) {\n  const ph = PHASES[phNum] || { nom: 'Phase ' + phNum, description: '' };\n  const phSops = phaseGroups[phNum];\n  const sopRows = phSops.map(s => {\n    const info = SOPS[s] || { nom: s, objectif: '' };\n    return '<tr><td class=\"sop-id\">' + s + '</td><td class=\"sop-nom\">' + info.nom + '</td><td>' + info.objectif + '</td><td class=\"checkbox\">\\u2610</td></tr>';\n  }).join('\\n');\n  phasesHtml += '<div class=\"phase-block\">'\n    + '<div class=\"phase-header\"><span class=\"phase-num\">Phase ' + phNum + '</span><span class=\"phase-nom\"> \\u2014 ' + ph.nom + '</span></div>'\n    + '<div class=\"phase-desc\">' + ph.description + '</div>'\n    + '<table class=\"sop-table\"><thead><tr><th>SOP</th><th>Proc\\u00e9dure</th><th>Objectif dans ce MOP</th><th>Val.</th></tr></thead>'\n    + '<tbody>' + sopRows + '</tbody></table>'\n    + '</div>';\n}\n\nconst criticiteClass = { MINEUR: 'crit-mineur', MAJEUR: 'crit-majeur', CRITIQUE: 'crit-critique' }[criticite] || '';\nconst dateStr = date_intervention || new Date().toISOString().slice(0, 10);\nconst heureStr = heure_debut || '--:--';\nconst genTime = new Date().toISOString().replace('T', ' ').slice(0, 19) + ' UTC';\nconst filename = 'mop-' + incident_id + '.pdf';\nconst docxFilename = 'mop-' + incident_id + '.docx';\n\nconst html = '<!DOCTYPE html>\\n<html lang=\"fr\">\\n<head>\\n<meta charset=\"UTF-8\">\\n<style>\\n'\n  + '* { box-sizing: border-box; margin: 0; padding: 0; }\\n'\n  + 'body { font-family: Arial, Helvetica, sans-serif; font-size: 10.5pt; color: #222; background: #fff; padding: 18mm 20mm; }\\n'\n  + 'h1 { font-size: 17pt; color: #0d2b52; border-bottom: 3px solid #0d2b52; padding-bottom: 6px; margin-bottom: 14px; }\\n'\n  + '.meta-block { background: #f0f5fb; border-left: 4px solid #0d2b52; padding: 10px 14px; margin-bottom: 18px; border-radius: 2px; }\\n'\n  + '.meta-grid { display: grid; grid-template-columns: 130px 1fr 130px 1fr; gap: 4px 8px; }\\n'\n  + '.meta-label { font-weight: bold; color: #555; font-size: 9.5pt; }\\n'\n  + '.crit-mineur { color: #2e7d32; font-weight: bold; }\\n'\n  + '.crit-majeur { color: #e65100; font-weight: bold; }\\n'\n  + '.crit-critique { color: #b71c1c; font-weight: bold; background: #fff3f3; padding: 1px 4px; border-radius: 2px; }\\n'\n  + '.phase-block { margin-bottom: 20px; border: 1px solid #d0d8e8; border-radius: 3px; overflow: hidden; }\\n'\n  + '.phase-header { background: #0d2b52; color: #fff; padding: 7px 12px; font-size: 10.5pt; }\\n'\n  + '.phase-num { font-weight: bold; }\\n'\n  + '.phase-desc { background: #f7f9fc; padding: 7px 12px; font-size: 9.5pt; color: #555; border-bottom: 1px solid #d0d8e8; font-style: italic; }\\n'\n  + 'table.sop-table { width: 100%; border-collapse: collapse; }\\n'\n  + 'table.sop-table th { background: #3a5a8a; color: #fff; padding: 6px 10px; text-align: left; font-size: 9.5pt; }\\n'\n  + 'table.sop-table td { padding: 6px 10px; border-bottom: 1px solid #dde4ef; vertical-align: top; font-size: 9.5pt; }\\n'\n  + 'table.sop-table tr:nth-child(even) td { background: #f7f9fc; }\\n'\n  + '.sop-id { font-weight: bold; color: #0d2b52; white-space: nowrap; width: 70px; }\\n'\n  + '.sop-nom { width: 200px; font-weight: 500; }\\n'\n  + '.checkbox { text-align: center; width: 50px; font-size: 13pt; color: #888; }\\n'\n  + '.sig-block { margin-top: 26px; display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 16px; }\\n'\n  + '.sig-box { border: 1px solid #bbb; padding: 8px 12px; min-height: 55px; border-radius: 2px; }\\n'\n  + '.sig-label { font-size: 9pt; color: #777; margin-bottom: 4px; }\\n'\n  + '.footer { margin-top: 20px; font-size: 8.5pt; color: #aaa; border-top: 1px solid #ddd; padding-top: 6px; text-align: right; }\\n'\n  + '</style>\\n</head>\\n<body>\\n'\n  + '<h1>MOP \\u2014 M\\u00e9thode d\\'Op\\u00e9ration et de Proc\\u00e9dure</h1>\\n'\n  + '<div class=\"meta-block\"><div class=\"meta-grid\">'\n  + '<span class=\"meta-label\">Incident ID</span><span>' + (incident_id || 'N/A') + '</span>'\n  + '<span class=\"meta-label\">Site</span><span>' + (site || 'N/A') + '</span>'\n  + '<span class=\"meta-label\">Cat\\u00e9gorie</span><span>' + (incident_type || 'N/A') + '</span>'\n  + '<span class=\"meta-label\">Composant</span><span>' + (sous_type || equipment || 'N/A') + '</span>'\n  + '<span class=\"meta-label\">Criticit\\u00e9</span><span><span class=\"' + criticiteClass + '\">' + (criticite || 'N/A') + '</span></span>'\n  + '<span class=\"meta-label\">Technicien</span><span>' + (technicien || 'N/A') + '</span>'\n  + '<span class=\"meta-label\">Date</span><span>' + dateStr + '</span>'\n  + '<span class=\"meta-label\">Heure d\\u00e9but</span><span>' + heureStr + '</span>'\n  + '</div></div>\\n'\n  + '<h2 style=\"font-size:11pt;color:#0d2b52;margin:0 0 12px;text-transform:uppercase;letter-spacing:0.3px;\">'\n  + 'Proc\\u00e9dures applicables \\u2014 ' + sopsArr.length + ' SOP(s) en ' + phaseNums.length + ' phase(s)</h2>\\n'\n  + phasesHtml\n  + '\\n<div class=\"sig-block\">'\n  + '<div class=\"sig-box\"><div class=\"sig-label\">Technicien intervenant</div></div>'\n  + '<div class=\"sig-box\"><div class=\"sig-label\">Responsable NOC</div></div>'\n  + '<div class=\"sig-box\"><div class=\"sig-label\">Cl\\u00f4ture \\u2014 heure fin</div></div>'\n  + '</div>'\n  + '\\n<div class=\"footer\">G\\u00e9n\\u00e9r\\u00e9 automatiquement par MOP Machinery \\u2014 ' + genTime + '</div>'\n  + '\\n</body>\\n</html>';\n\nconst buf = Buffer.from(html, 'utf8');\nreturn [{\n  json: { incident_id, filename, docxFilename, html },\n  binary: {\n    'index.html': {\n      data: buf.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000003",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "index.html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000004",
      "name": "Write PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "fileName": "={{ '/data/mop/pdf/' + $('Build HTML').item.json.filename }}",
        "dataPropertyName": "data"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000006",
      "name": "Convert to DOCX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://pandoc_api:3001/convert/html-to-docx",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $('Build HTML').item.json.html }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "docx"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000007",
      "name": "Write DOCX",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "fileName": "={{ '/data/mop/docx/' + $('Build HTML').item.json.docxFilename }}",
        "dataPropertyName": "docx"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { pdf_url: 'https://mop-dl.ewutelo.cloud/' + $('Build HTML').item.json.filename, docx_url: 'https://mop-dl.ewutelo.cloud/' + $('Build HTML').item.json.docxFilename, filename: $('Build HTML').item.json.filename, docx_filename: $('Build HTML').item.json.docxFilename, incident_id: $('Build HTML').item.json.incident_id } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook mop-generate": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Write PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write PDF": {
      "main": [
        [
          {
            "node": "Convert to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to DOCX": {
      "main": [
        [
          {
            "node": "Write DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write DOCX": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "id": "jtvnpjvxc3RjnIwA"
}
