scripts/n8n-workflows/mop-ingest-v1.json
{
  "name": "mop-ingest-v1",
  "nodes": [
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000001",
      "name": "Intake",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [240, 300],
      "webhookId": "mop-ingest",
      "parameters": {
        "path": "mop-ingest",
        "formTitle": "Ingestion NOC Procedures",
        "formDescription": "Glisser-déposer les PDFs à indexer dans la base de connaissances MOP",
        "formFields": {
          "values": [
            {
              "fieldLabel": "documents",
              "fieldType": "files",
              "acceptFileTypes": ".pdf",
              "multipleFiles": true,
              "requiredField": true
            },
            {
              "fieldLabel": "category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "sp" },
                  { "option": "procedure" },
                  { "option": "guide" },
                  { "option": "runbook" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "namespace",
              "placeholder": "mop (défaut)",
              "requiredField": false
            },
            {
              "fieldLabel": "language",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "fr" },
                  { "option": "en" }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Indexer"
        }
      }
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000002",
      "name": "Setup KB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Creates mop_kb collection + 9 keyword payload indexes if absent.\n// Idempotent: GET first, PUT only on 404.\n\nconst http = require('http');\n\nconst QDRANT_HOST = 'qdrant';\nconst QDRANT_PORT = 6333;\nconst QDRANT_KEY  = process.env.QDRANT_API_KEY || '';\nconst COLLECTION  = 'mop_kb';\n\nfunction qdrantReq(method, path, body) {\n  return new Promise((resolve, reject) => {\n    const data = body ? JSON.stringify(body) : null;\n    const headers = { 'Content-Type': 'application/json', 'api-key': QDRANT_KEY };\n    if (data) headers['Content-Length'] = Buffer.byteLength(data);\n    const req = http.request(\n      { hostname: QDRANT_HOST, port: QDRANT_PORT, path, method },\n      (res) => {\n        const chunks = [];\n        res.on('data', c => chunks.push(c));\n        res.on('end', () => {\n          const text = Buffer.concat(chunks).toString();\n          try { resolve({ status: res.statusCode, data: JSON.parse(text) }); }\n          catch (e) { resolve({ status: res.statusCode, data: text }); }\n        });\n      }\n    );\n    req.on('error', reject);\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nconst check = await qdrantReq('GET', `/collections/${COLLECTION}`);\n\nif (check.status !== 200) {\n  const create = await qdrantReq('PUT', `/collections/${COLLECTION}`, {\n    vectors: { size: 768, distance: 'Cosine' },\n  });\n  if (create.status !== 200) {\n    throw new Error('mop_kb creation failed: ' + JSON.stringify(create.data).slice(0, 300));\n  }\n\n  // 9 keyword payload indexes (mirror of memory_v1)\n  const INDEXES = ['doc_kind', 'repo', 'host_origin', 'source_kind', 'severity', 'category', 'phase', 'topic', 'tags'];\n  for (const field of INDEXES) {\n    const r = await qdrantReq('PUT', `/collections/${COLLECTION}/index`, {\n      field_name: field,\n      field_schema: 'keyword',\n    });\n    if (r.status !== 200) {\n      throw new Error(`Index creation failed for ${field}: ${JSON.stringify(r.data).slice(0, 200)}`);\n    }\n  }\n}\n\n// Pass through\nreturn $input.all().map(item => ({ json: item.json, binary: item.binary }));"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000003",
      "name": "Process Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 260],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// For each uploaded PDF:\n//   1. Call LiteLLM mop-ingest (Gemini 2.5 Pro multimodal) → structured markdown\n//   2. Chunk markdown (header-split + paragraph, 1600 chars, 200 overlap)\n//   3. Embed chunks in batches via mop-embed (text-embedding-004, 768 dims)\n//   4. Delete old points for same filename+namespace, upsert new batch to mop_kb\n// Architecture mirrors memory_v1 (25 payload fields, UUID from SHA256).\n\nconst http   = require('http');\nconst crypto = require('crypto');\n\nconst LITELLM_HOST = 'litellm';\nconst LITELLM_PORT = 4000;\nconst QDRANT_HOST  = 'qdrant';\nconst QDRANT_PORT  = 6333;\nconst COLLECTION   = 'mop_kb';\nconst LITELLM_KEY  = process.env.LITELLM_API_KEY || '';\nconst QDRANT_KEY   = process.env.QDRANT_API_KEY  || '';\n\nfunction httpReq(host, port, method, path, body, extraHeaders) {\n  return new Promise((resolve, reject) => {\n    const data = body ? JSON.stringify(body) : null;\n    const headers = { 'Content-Type': 'application/json', ...(extraHeaders || {}) };\n    if (data) headers['Content-Length'] = Buffer.byteLength(data);\n    const req = http.request({ hostname: host, port, path, method }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const text = Buffer.concat(chunks).toString();\n        try { resolve({ status: res.statusCode, data: JSON.parse(text) }); }\n        catch (e) { resolve({ status: res.statusCode, data: text }); }\n      });\n    });\n    req.on('error', reject);\n    if (data) req.write(data);\n    req.end();\n  });\n}\n\nfunction llm(path, body) {\n  return httpReq(LITELLM_HOST, LITELLM_PORT, 'POST', path, body, { Authorization: `Bearer ${LITELLM_KEY}` });\n}\n\nfunction qdrant(method, path, body) {\n  return httpReq(QDRANT_HOST, QDRANT_PORT, method, path, body, { 'api-key': QDRANT_KEY });\n}\n\nfunction sha256hex(s) {\n  return crypto.createHash('sha256').update(s).digest('hex');\n}\n\nfunction toUUID(hex) {\n  return [hex.slice(0,8), hex.slice(8,12), '4' + hex.slice(13,16), hex.slice(16,20), hex.slice(20,32)].join('-');\n}\n\nfunction chunkMarkdown(text) {\n  const MAX = 1600, OVL = 200;\n  const sections = text.split(/(?=\\n#{1,3} )/);\n  const chunks = [];\n  for (const sec of sections) {\n    if (!sec.trim()) continue;\n    if (sec.length <= MAX) { chunks.push(sec.trim()); continue; }\n    const paras = sec.split(/\\n\\n+/);\n    let buf = '';\n    for (const p of paras) {\n      if (!p.trim()) continue;\n      const candidate = buf ? buf + '\\n\\n' + p : p;\n      if (candidate.length <= MAX) { buf = candidate; continue; }\n      if (buf.trim()) chunks.push(buf.trim());\n      if (p.length <= MAX) { buf = p; continue; }\n      let s = p;\n      while (s.length > MAX) { chunks.push(s.slice(0, MAX)); s = s.slice(MAX - OVL); }\n      buf = s;\n    }\n    if (buf.trim()) chunks.push(buf.trim());\n  }\n  return chunks.filter(c => c.length >= 20);\n}\n\nfunction sectionHeader(chunk) {\n  const m = chunk.match(/^#{1,3} (.+)/m);\n  return m ? m[1].trim() : '';\n}\n\n// ── main ──────────────────────────────────────────────────────────────────────\nconst item     = $input.first();\nconst formData = item.json || {};\nconst binary   = item.binary || {};\n\nconst category  = String(formData.category  || 'sp');\nconst namespace = String(formData.namespace || 'mop').trim() || 'mop';\nconst language  = String(formData.language  || 'fr');\nconst indexedAt = new Date().toISOString();\nconst results   = [];\n\nconst files = Object.entries(binary)\n  .filter(([, v]) => v && v.data)\n  .map(([key, v]) => ({\n    key,\n    filename: v.fileName || key,\n    mimeType: v.mimeType || 'application/pdf',\n    base64: v.data,\n  }));\n\nif (files.length === 0) throw new Error('Aucun fichier trouvé dans le formulaire');\n\nconst INGEST_PROMPT = \"Tu es un expert en systèmes télécom (DWDM, SDH, IP/MPLS). Extrais la totalité de ce document technique NOC en markdown structuré. Respecte la hiérarchie: H1 titre, H2 sections, H3 sous-sections. Tableaux en format markdown. Procédures en listes numérotées. Conserve tous les codes alarme, références SP et commandes CLI. Retourne UNIQUEMENT le markdown, sans préambule ni commentaire.\";\n\nfor (const file of files) {\n  // 1. LLM extraction (Gemini 2.5 Pro multimodal PDF)\n  const llmResp = await llm('/v1/chat/completions', {\n    model: 'mop-ingest',\n    max_tokens: 8192,\n    messages: [{ role: 'user', content: [\n      { type: 'text', text: INGEST_PROMPT },\n      { type: 'image_url', image_url: { url: `data:${file.mimeType};base64,${file.base64}` } },\n    ]}],\n  });\n  if (llmResp.status !== 200) {\n    throw new Error(`Extraction LLM échouée (${file.filename}): ` + JSON.stringify(llmResp.data).slice(0, 300));\n  }\n  const markdown   = llmResp.data.choices[0].message.content;\n  const titleM     = markdown.match(/^#\\s+(.+)/m);\n  const docTitle   = titleM ? titleM[1].trim() : file.filename.replace(/\\.pdf$/i, '');\n  const contentHash = sha256hex(markdown);\n  const refDocId   = sha256hex(`${namespace}:${file.filename}:${indexedAt}`);\n\n  // 2. Chunk\n  const chunks = chunkMarkdown(markdown);\n  if (chunks.length === 0) throw new Error(`Aucun chunk produit pour ${file.filename}`);\n\n  // 3. Delete old points (same filename + namespace = idempotent re-ingest)\n  await qdrant('POST', `/collections/${COLLECTION}/points/delete`, {\n    filter: { must: [\n      { key: 'filename',  match: { value: file.filename } },\n      { key: 'namespace', match: { value: namespace } },\n    ]},\n  });\n\n  // 4. Embed in batches of 50\n  const EMBED_BATCH = 50;\n  const allVecs = [];\n  for (let i = 0; i < chunks.length; i += EMBED_BATCH) {\n    const batch = chunks.slice(i, i + EMBED_BATCH);\n    const embResp = await llm('/v1/embeddings', { model: 'mop-embed', input: batch });\n    if (embResp.status !== 200) {\n      throw new Error('Embedding échoué: ' + JSON.stringify(embResp.data).slice(0, 300));\n    }\n    const sorted = [...embResp.data.data].sort((a, b) => a.index - b.index);\n    allVecs.push(...sorted.map(e => e.embedding));\n  }\n\n  // 5. Build points (25 payload fields — memory_v1 schema)\n  const points = chunks.map((chunk, idx) => ({\n    id: toUUID(sha256hex(`${refDocId}:${idx}:${chunk.slice(0, 64)}`)),\n    vector: allVecs[idx],\n    payload: {\n      schema_version:            '1.0',\n      embedding_model:           'text-embedding-004',\n      embedding_dim:             768,\n      chunking_strategy_version: '1.0',\n      ref_doc_id:                refDocId,\n      repo:                      '',\n      namespace,\n      host_origin:               'sese-ai',\n      source_kind:               'upload',\n      doc_kind:                  category,\n      topic:                     '',\n      severity:                  '',\n      category,\n      phase:                     '',\n      relative_path:             file.filename,\n      filename:                  file.filename,\n      language,\n      tags:                      [],\n      git_commit_sha:            '',\n      content_hash:              contentHash,\n      chunk_index:               idx,\n      chunk_count:               chunks.length,\n      chunking_kind:             'markdown_paragraph',\n      section:                   sectionHeader(chunk),\n      title:                     docTitle,\n      indexed_at:                indexedAt,\n      text:                      chunk,\n    },\n  }));\n\n  // 6. Upsert in batches of 100\n  const UPSERT_BATCH = 100;\n  for (let i = 0; i < points.length; i += UPSERT_BATCH) {\n    const r = await qdrant('PUT', `/collections/${COLLECTION}/points`, { points: points.slice(i, i + UPSERT_BATCH) });\n    if (r.status !== 200) {\n      throw new Error('Qdrant upsert échoué: ' + JSON.stringify(r.data).slice(0, 300));\n    }\n  }\n\n  results.push({ filename: file.filename, chunks: chunks.length, ref_doc_id: refDocId });\n}\n\nreturn [{ json: {\n  ok: true,\n  files: results,\n  total_chunks: results.reduce((s, r) => s + r.chunks, 0),\n} }];"
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000004",
      "name": "Done",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [900, 220],
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ '<h2>Indexation terminée</h2><p>' + $json.total_chunks + ' chunks indexés dans mop_kb pour ' + $json.files.length + ' fichier(s).</p>' }}",
        "options": {}
      }
    },
    {
      "id": "1b9a4a0e-0004-4000-8000-000000000005",
      "name": "Done (Error)",
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [900, 420],
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{ '<h2>Erreur d\\'indexation</h2><pre>' + ($json.error && $json.error.message ? $json.error.message : ($json.error || 'erreur inconnue')) + '</pre>' }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Intake": {
      "main": [[{ "node": "Setup KB", "type": "main", "index": 0 }]]
    },
    "Setup KB": {
      "main": [
        [{ "node": "Process Files", "type": "main", "index": 0 }],
        [{ "node": "Done (Error)",   "type": "main", "index": 0 }]
      ]
    },
    "Process Files": {
      "main": [
        [{ "node": "Done",         "type": "main", "index": 0 }],
        [{ "node": "Done (Error)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
