scripts/n8n-workflows/mop-generate.json
{
  "name": "mop-generate",
  "nodes": [
    {
      "id": "mg-0001-0000-0000-000000000001",
      "name": "Webhook mop-generate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mop-generate",
      "parameters": {
        "httpMethod": "POST",
        "path": "mop-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000002",
      "name": "Build HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const SOPS = {\"SOP-01\": {\"nom\": \"Qualification initiale alarme\", \"objectif\": \"Identifier et qualifier l'alarme dans Lightsoft + Vizee, évaluer l'impact opérationnel, horodater l'incident.\", \"steps\": [\"Ouvrir Lightsoft ET Vizee simultanément\", \"Identifier couleur NE : Bleu/gris → supervision seule · Rouge → trafic impacté\", \"Compter alarmes simultanées : 1 isolée vs avalanche = diagnostic différent\", \"Croiser avec journal des opérations : travaux en cours ? maintenance ?\", \"Horodater l'alarme (heure de début)\", \"⚠ NE bleu/gris ≠ perte de trafic — ne pas escalader avant confirmation\"]}, \"SOP-02\": {\"nom\": \"Vérification rack OOB\", \"objectif\": \"Contrôler l'infrastructure OOB : alimentation, switch, firewall Vizee, câblage, caméra, Lugos.\", \"steps\": [\"Vérifier l'alimentation de la baie OOB (2 alimentations A+B)\", \"Vérifier le switch OOB : voyants actifs, connexions cuivre\", \"Vérifier le firewall Vizee : état, derniers logs d'accès\", \"Vérifier câblage de gestion : tous les NEs accessibles\", \"Vérifier la caméra : flux visible sur Vizee\", \"Vérifier l'état Lugos : services actifs, logs récents\"]}, \"SOP-03\": {\"nom\": \"Vérification supervision Lightsoft\", \"objectif\": \"Vérifier la session Lightsoft et l'accessibilité des NEs via Radius/STMS.\", \"steps\": [\"Vérifier que Lightsoft est connecté au STMS (pas de croix rouge)\", \"Vérifier la session Radius : certificat, date d'expiration\", \"Tenter d'accéder à un NE en difficulté depuis Lightsoft\", \"Si session expirée : relancer la session STMS\", \"Vérifier les ports 830/22 ouverts entre OOB et NEs\", \"Si inaccessible : basculer sur session de secours STMS\"]}, \"SOP-04\": {\"nom\": \"Vérification bascule OLP + OSNR\", \"objectif\": \"Tester la bascule OLP et contrôler les niveaux OSNR sur les 2 ports optiques.\", \"steps\": [\"Ouvrir Trail List → icône S → vérifier chemin actif\", \"Confirmer bascule OLP : lien HS = rouge, lien en service = vert\", \"Vérifier OSNR sur les 2 ports de réception des liens opérateurs\", \"Vérifier état port OSC port 0 carte OADVLF (SFP OSC)\", \"Si bascule OLP active → confirmer stabilité du lien restant\", \"Surveiller évolution OSNR dans les 15 minutes suivantes\"]}, \"SOP-05\": {\"nom\": \"Vérification physique rack OTN\", \"objectif\": \"Vérification physique sur site : voyants cartes, alimentation, ventilation, identification par photo.\", \"steps\": [\"Accéder au rack physique via Lugos ou déplacement terrain\", \"Vérifier voyants de la carte incriminée : vert=OK, rouge=alarme\", \"Vérifier l'alimentation redondante (A+B) : LEDs vertes\", \"Vérifier la ventilation : pas de blocage, température normale\", \"Photographier l'état du rack (référence pour Ribbon/NOC)\", \"Identifier carte par slot et numéro de série (Vizee)\"]}, \"SOP-06\": {\"nom\": \"Vérification carte RCP\", \"objectif\": \"Basculer la carte RCP A→B et vérifier câblage cuivre + état File System.\", \"steps\": [\"Identifier la carte RCP active (A ou B) depuis Lightsoft\", \"Basculer RCP A → B (ou B → A) depuis l'interface Lightsoft\", \"Attendre 2-3 min et observer la stabilisation des alarmes\", \"Vérifier le câblage cuivre RJ45 management (non débranché)\", \"Vérifier l'état du File System de la carte RCP\", \"Si échec bascule : escalader vers Ribbon Support\"]}, \"SOP-07\": {\"nom\": \"Vérification port SFP + jarretière\", \"objectif\": \"Inspecter le port SFP et la jarretière optique : état, propreté, alignement, côté opérateur.\", \"steps\": [\"Vérifier état du SFP sur Lightsoft : valeur signal, erreurs\", \"Si SFP en défaut → préparer remplacement (après accord manager)\", \"Vérifier jarretière : bien connectée, non abîmée visuellement\", \"Inspecter jarretière à la caméra d'inspection fibre\", \"Si salissure → nettoyage ou remplacement jarretière\", \"Vérifier aussi côté équipement opérateur si accès disponible\"]}, \"SOP-08\": {\"nom\": \"Ouverture ticket opérateur\", \"objectif\": \"Ouvrir un ticket auprès de l'opérateur tiers (Cogent, EuNetwork) et suivre la résolution.\", \"steps\": [\"Identifier l'opérateur tiers concerné (Cogent, EuNetwork, autre)\", \"Ouvrir ticket via portail opérateur avec : heure alarme, description, impact\", \"Fournir les données PM (OPR/OPT) mesurées\", \"Obtenir un numéro de ticket et l'enregistrer dans le journal\", \"Relancer toutes les 30 min si pas de réponse\", \"Escalader vers account manager si dépassement SLA\"]}, \"SOP-09\": {\"nom\": \"Ouverture ticket Lugos\", \"objectif\": \"Ouvrir un ticket Lugos pour intervention OOB ou câblage terrain.\", \"steps\": [\"Accéder au portail Lugos (accès VPN requis)\", \"Créer un ticket avec : numéro de rack, carte, description précise\", \"Joindre photo du rack si disponible\", \"Sélectionner priorité selon criticité incident\", \"Suivre le ticket jusqu'à accusé de réception Lugos\", \"Confirmer créneau d'intervention si site physique requis\"]}, \"SOP-10\": {\"nom\": \"Ouverture ticket Ribbon + RMA\", \"objectif\": \"Ouvrir un ticket Ribbon avec numéro de série (Vizee) et initier le processus RMA.\", \"steps\": [\"Récupérer le numéro de série de la carte depuis Vizee\", \"Accéder au portail support.ribbon.com\", \"Ouvrir un cas avec : S/N, firmware, description panne, logs exportés\", \"Initier le processus RMA si remplacement matériel nécessaire\", \"Obtenir ETA livraison et procédure de remplacement\", \"Conserver la carte défectueuse emballée pour retour constructeur\"]}, \"SOP-11\": {\"nom\": \"Communication incident\", \"objectif\": \"Informer sites, manager, Ribbon ; envoyer mail d'incident et mails de suivi toutes les 30 min jusqu'à clôture.\", \"steps\": [\"Informer le manager de l'alarme en cours (criticité + impact)\", \"Si CRITIQUE ou >30 min : envoyer rapport intermédiaire par email\", \"Mettre à jour le journal des incidents\", \"Notifier résolution avec heure de fin et cause racine identifiée\"]}, \"SOP-12\": {\"nom\": \"Lecture PM Counters Lightsoft\", \"objectif\": \"Lire les PM Counters Lightsoft (OPR/OPT, FEC, BER) pour analyse qualité de lien.\", \"steps\": [\"Ouvrir Lightsoft → onglet Performance Monitoring\", \"Sélectionner le NE et la période 15 min la plus récente\", \"Relever OPR (puissance reçue, dBm) — normal: -10 à -20 dBm\", \"Relever OPT (puissance émise, dBm)\", \"Relever FEC (Forward Error Correction) et BER (Bit Error Rate)\", \"Comparer avec valeurs de référence de la baseline\"]}, \"SOP-13\": {\"nom\": \"Validation post-résolution — Test Viavi OTU2 (RFC 2544)\", \"objectif\": \"Valider la conformité du lien restauré par test RFC 2544 (2 Viavi OTU2) aux 2 extrémités.\", \"steps\": [\"Positionner 2 Viavi OTU2 aux 2 extrémités du lien (TH2 + LF ou TH3)\", \"Configurer test RFC 2544 : trafic 10G, frames 64B/512B/1518B\", \"Lancer le test (durée : 5-10 min minimum)\", \"Vérifier : 0% frame loss, latence < 1ms, jitter < 100µs\", \"Imprimer ou sauvegarder le rapport de test (PDF)\", \"Valider la remise en service avec le manager NOC\"]}, \"SOP-14\": {\"nom\": \"SMTP / Email relay Vizee HS\", \"objectif\": \"Rétablir le service d'envoi d'emails d'alarme depuis Vizee quand le relay SMTP est hors service.\", \"steps\": [\"Vérifier les logs du service SMTP relay dans Vizee\", \"Tester l'envoi d'un email de test depuis l'interface Vizee\", \"Vérifier la configuration MX/DNS du domaine d'envoi\", \"Vérifier les credentials SMTP (expiration, rotation de mot de passe)\", \"Si relay tiers (SendGrid, etc.) : vérifier quota et statut du compte\", \"Redémarrer le service d'alerte si configuration OK mais service bloqué\"]}};\nconst PHASE_MAP = {\"SOP-01\": 1, \"SOP-02\": 2, \"SOP-03\": 2, \"SOP-04\": 2, \"SOP-05\": 2, \"SOP-06\": 2, \"SOP-07\": 2, \"SOP-12\": 2, \"SOP-08\": 3, \"SOP-09\": 3, \"SOP-10\": 3, \"SOP-11\": 4, \"SOP-13\": 5, \"SOP-14\": 2};\nconst PHASES = {\"1\": {\"nom\": \"Qualification\", \"desc\": \"Qualifier l'alarme, évaluer l'impact opérationnel et horodater l'incident.\", \"color\": \"#1a3a5c\"}, \"2\": {\"nom\": \"Diagnostic & Intervention\", \"desc\": \"Identifier la cause racine par des vérifications techniques ciblées sur les équipements concernés.\", \"color\": \"#2c5f8a\"}, \"3\": {\"nom\": \"Escalade / RMA\", \"desc\": \"Ouvrir les tickets opérateur/constructeur et initier le processus RMA si remplacement matériel nécessaire.\", \"color\": \"#3a5a8a\"}, \"4\": {\"nom\": \"Communication\", \"desc\": \"Informer toutes les parties prenantes et assurer le suivi jusqu'à clôture.\", \"color\": \"#4a4a8a\"}, \"5\": {\"nom\": \"Validation\", \"desc\": \"Valider la conformité du lien restauré par test RFC 2544 (Viavi OTU2) avant remise en service définitive.\", \"color\": \"#2e7d32\"}};\n\nconst body = $input.first().json.body || $input.first().json;\nconst {\n  incident_id, incident_type, sous_type, criticite, sops,\n  site, equipment, technicien, date_intervention, heure_debut,\n  symptome, impact, cause_probable,\n  alarme_lightsoft, alarme_vizee,\n  contexte_kb, cas_reels, reseau, categorie\n} = body;\n\nconst sopsArr = typeof sops === 'string'\n  ? sops.split(',').map(s => s.trim()).filter(Boolean)\n  : (Array.isArray(sops) ? sops : []);\n\n// Build phase groups\nconst phaseGroups = {};\nfor (const s of sopsArr) {\n  const ph = PHASE_MAP[s] || 2;\n  if (!phaseGroups[ph]) phaseGroups[ph] = [];\n  phaseGroups[ph].push(s);\n}\nconst phaseNums = Object.keys(phaseGroups).map(Number).sort();\n\n// Criticité CSS class\nconst critClass = criticite === 'MINEUR' ? 'crit-mineur'\n  : criticite === 'MAJEUR' ? 'crit-majeur'\n  : criticite === 'CRITIQUE' ? 'crit-critique' : '';\nconst critValueClass = 'crit-value-' + (critClass.replace('crit-', '') || 'majeur');\n\n// Date/time\nconst dateStr = date_intervention || '____________________';\nconst heureStr = heure_debut || '________';\nconst techStr = technicien || '________________________';\nconst genTime = new Date().toISOString().replace('T', ' ').slice(0, 16) + ' UTC';\nconst docId = 'MOP-' + (incident_id || 'XXX');\nconst filename = 'mop-' + (incident_id || 'xxx').toLowerCase() + '.pdf';\nconst docxFilename = 'mop-' + (incident_id || 'xxx').toLowerCase() + '.docx';\n\n// Helper: escape HTML\nfunction esc(s) {\n  return String(s || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n}\n\n// Criticité banner\nconst critBannerHtml = `<div class=\"crit-banner ${critClass}\">\n  <div><div class=\"crit-label\">Criticité</div><div class=\"${critValueClass}\">${esc(criticite || 'N/A')}</div></div>\n  <div style=\"flex:1\"><div class=\"crit-label\">Catégorie</div><div class=\"crit-cat\">${esc(categorie || incident_type || 'N/A')} — ${esc(sous_type || 'N/A')}</div></div>\n  <div><div class=\"crit-label\">Réseau</div><div class=\"crit-cat\">${esc(reseau || 'OTN')}</div></div>\n  <div><div class=\"crit-label\">SOPs applicables</div><div class=\"crit-cat\">${sopsArr.length} SOP(s) en ${phaseNums.length} phase(s)</div></div>\n</div>`;\n\n// Meta grid\nconst metaHtml = `<div class=\"meta-grid\">\n  <div class=\"meta-card\">\n    <div class=\"meta-card-title\">Identification de l'incident</div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Référence :</span><span class=\"meta-val\">${docId}</span></div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Catégorie :</span><span class=\"meta-val\">${esc(categorie || incident_type || 'N/A')}</span></div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Sous-type :</span><span class=\"meta-val\">${esc(sous_type || 'N/A')}</span></div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Réseau :</span><span class=\"meta-val\">${esc(reseau || 'OTN')}</span></div>\n  </div>\n  <div class=\"meta-card\">\n    <div class=\"meta-card-title\">Intervention</div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Site :</span><span class=\"meta-val\">${esc(site || 'N/A')}</span></div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Technicien :</span><span class=\"meta-val\">${esc(techStr)}</span></div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Date :</span><span class=\"meta-val\">${esc(dateStr)}</span></div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Heure début :</span><span class=\"meta-val\">${esc(heureStr)}</span></div>\n    <div class=\"meta-row\"><span class=\"meta-key\">Ticket :</span><span class=\"meta-val\">________________________</span></div>\n  </div>\n</div>`;\n\n// Description bloc\nconst descHtml = (symptome || impact || cause_probable) ? `<div class=\"meta-card\" style=\"margin-bottom:16px\">\n  <div class=\"meta-card-title\">Description de l'incident</div>\n  ${symptome ? '<div class=\"meta-row\"><span class=\"meta-key\">Symptôme :</span><span class=\"meta-val\">' + esc(symptome) + '</span></div>' : ''}\n  ${impact ? '<div class=\"meta-row\"><span class=\"meta-key\">Impact opérationnel :</span><span class=\"meta-val\">' + esc(impact) + '</span></div>' : ''}\n  ${cause_probable ? '<div class=\"meta-row\"><span class=\"meta-key\">Cause probable :</span><span class=\"meta-val\">' + esc(cause_probable) + '</span></div>' : ''}\n</div>` : '';\n\n// Alarm block\nconst alarmHtml = (alarme_lightsoft || alarme_vizee) ? `<div class=\"alarm-block\">\n  <div class=\"alarm-title\">⚡ Alarmes de référence — Signatures attendues</div>\n  ${alarme_lightsoft ? '<div class=\"alarm-row\"><span class=\"alarm-system\">Lightsoft :</span><span class=\"alarm-text\">' + esc(alarme_lightsoft) + '</span></div>' : ''}\n  ${alarme_vizee ? '<div class=\"alarm-row\"><span class=\"alarm-system\">Vizee :</span><span class=\"alarm-text\">' + esc(alarme_vizee) + '</span></div>' : ''}\n</div>` : '';\n\n// Cas réels\nconst casHtml = cas_reels ? `<div class=\"section-block cas-block\">\n  <div class=\"section-title cas-title\">📋 Cas réels observés (2021-2025)</div>\n  <div class=\"cas-text\">${esc(cas_reels).replace(/\\n/g, '<br>')}</div>\n</div>` : '';\n\n// KB context\nlet kbHtml = '';\nif (contexte_kb) {\n  const chunks = typeof contexte_kb === 'string' ? JSON.parse(contexte_kb) : contexte_kb;\n  if (Array.isArray(chunks) && chunks.length > 0) {\n    const items = chunks.map(c => `<div class=\"kb-item\">\n      <div class=\"kb-source\">📄 ${esc(c.filename || c.source || 'Source')} <span class=\"kb-score\">[pertinence: ${(c.score || 0).toFixed(2)}]</span></div>\n      <div class=\"kb-text\">${esc((c.text || '').slice(0, 400))}</div>\n    </div>`).join('');\n    kbHtml = `<div class=\"section-block kb-block\">\n  <div class=\"section-title kb-title\">📚 Base de connaissance — Contexte technique extrait</div>\n  ${items}\n</div>`;\n  }\n}\n\n// Phases & SOPs\nlet phasesHtml = '';\nfor (const phNum of phaseNums) {\n  const ph = PHASES[String(phNum)] || PHASES[phNum] || { nom: 'Phase ' + phNum, desc: '', color: '#2c5f8a' };\n  const phSops = phaseGroups[phNum];\n  const sopCards = phSops.map(s => {\n    const info = SOPS[s] || { nom: s, objectif: '', steps: [] };\n    const stepsHtml = (info.steps || []).map(st => '<li>' + esc(st) + '</li>').join('');\n    return `<div class=\"sop-card\">\n      <div class=\"sop-header\">\n        <span class=\"sop-badge\">${s}</span>\n        <span class=\"sop-title\">${esc(info.nom)}</span>\n        <span class=\"sop-check\">☐ Validé</span>\n      </div>\n      ${stepsHtml ? '<ol class=\"sop-steps\">' + stepsHtml + '</ol>' : '<div style=\"font-size:9.5pt;color:#555;padding:4px 0\">' + esc(info.objectif) + '</div>'}\n      <div class=\"sop-note-row\">\n        <span class=\"note-label\">Notes :</span>\n        <span class=\"note-line\">_____________________________________________________________</span>\n      </div>\n    </div>`;\n  }).join('');\n  phasesHtml += `<div class=\"phase-block\">\n  <div class=\"phase-header\" style=\"background:${ph.color}\">\n    <span class=\"phase-num\">Phase ${phNum}</span>\n    <span class=\"phase-nom\"> — ${ph.nom}</span>\n  </div>\n  <div class=\"phase-desc\">${ph.desc}</div>\n  ${sopCards}\n</div>`;\n}\n\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n<meta charset=\"UTF-8\">\n<style>\n* { box-sizing: border-box; margin: 0; padding: 0; }\nbody { font-family: \"Segoe UI\", Arial, sans-serif; font-size: 10.5pt; color: #1a1a1a; background: #fff; padding: 15mm 18mm; }\n.doc-header { border-bottom: 4px solid #0d2b52; padding-bottom: 10px; margin-bottom: 16px; display: flex; justify-content: space-between; align-items: flex-end; }\n.doc-title { font-size: 18pt; font-weight: 800; color: #0d2b52; letter-spacing: -0.5px; }\n.doc-subtitle { font-size: 10pt; color: #666; margin-top: 2px; }\n.doc-meta { text-align: right; font-size: 8.5pt; color: #888; }\n.doc-id { font-size: 14pt; font-weight: bold; color: #0d2b52; }\n.crit-banner { background: #f5f5f5; border-left: 5px solid #999; padding: 10px 16px; margin-bottom: 16px; border-radius: 2px; display: flex; align-items: center; gap: 16px; flex-wrap: wrap; }\n.crit-banner.crit-mineur { border-color: #2e7d32; background: #f1f8f1; }\n.crit-banner.crit-majeur { border-color: #e65100; background: #fff8f5; }\n.crit-banner.crit-critique { border-color: #b71c1c; background: #fff3f3; }\n.crit-label { font-size: 8.5pt; color: #666; text-transform: uppercase; letter-spacing: 0.5px; }\n.crit-value-mineur { font-size: 13pt; font-weight: 800; color: #2e7d32; }\n.crit-value-majeur { font-size: 13pt; font-weight: 800; color: #e65100; }\n.crit-value-critique { font-size: 13pt; font-weight: 800; color: #b71c1c; }\n.crit-cat { font-size: 10pt; color: #444; }\n.meta-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-bottom: 16px; }\n.meta-card { background: #f8f9fb; border: 1px solid #e0e6f0; border-radius: 4px; padding: 10px 14px; }\n.meta-card-title { font-size: 8.5pt; font-weight: 700; color: #0d2b52; text-transform: uppercase; letter-spacing: 0.5px; margin-bottom: 6px; border-bottom: 1px solid #d0d8e8; padding-bottom: 4px; }\n.meta-row { display: flex; gap: 8px; margin-bottom: 4px; font-size: 9.5pt; }\n.meta-key { color: #666; min-width: 120px; font-weight: 600; }\n.meta-val { color: #1a1a1a; flex: 1; }\n.alarm-block { background: #fff8e1; border: 1px solid #ffe082; border-radius: 4px; padding: 10px 14px; margin-bottom: 16px; }\n.alarm-title { font-size: 9pt; font-weight: 700; color: #b45309; text-transform: uppercase; margin-bottom: 8px; }\n.alarm-row { display: grid; grid-template-columns: 140px 1fr; gap: 8px; margin-bottom: 6px; font-size: 9.5pt; }\n.alarm-system { font-weight: 700; color: #555; }\n.alarm-text { font-family: \"Courier New\", monospace; font-size: 9pt; background: #fffde7; padding: 3px 6px; border-radius: 2px; color: #1a1a1a; white-space: pre-wrap; word-break: break-all; }\n.section-block { margin-bottom: 16px; border: 1px solid #e0e6f0; border-radius: 4px; overflow: hidden; }\n.section-title { padding: 8px 14px; font-size: 9pt; font-weight: 700; text-transform: uppercase; letter-spacing: 0.4px; }\n.kb-title { background: #e8eaf6; color: #3949ab; border-bottom: 1px solid #c5cae9; }\n.cas-title { background: #e8f5e9; color: #2e7d32; border-bottom: 1px solid #c8e6c9; }\n.kb-item { padding: 8px 14px; border-bottom: 1px solid #e8eaf6; font-size: 9pt; }\n.kb-item:last-child { border-bottom: none; }\n.kb-source { font-weight: 600; color: #3949ab; font-size: 8.5pt; margin-bottom: 4px; }\n.kb-score { font-weight: normal; color: #888; }\n.kb-text { color: #333; line-height: 1.5; }\n.cas-text { padding: 10px 14px; font-size: 9.5pt; line-height: 1.6; color: #2e7d32; }\n.sops-title { font-size: 11pt; font-weight: 700; color: #0d2b52; margin: 18px 0 12px; text-transform: uppercase; letter-spacing: 0.3px; border-bottom: 2px solid #0d2b52; padding-bottom: 6px; }\n.phase-block { margin-bottom: 18px; border: 1px solid #d0d8e8; border-radius: 4px; overflow: hidden; }\n.phase-header { padding: 9px 14px; color: #fff; }\n.phase-num { font-weight: 800; font-size: 11pt; }\n.phase-nom { font-size: 11pt; font-weight: 400; }\n.phase-desc { background: #f5f7fa; padding: 7px 14px; font-size: 9pt; color: #555; font-style: italic; border-bottom: 1px solid #d0d8e8; }\n.sop-card { padding: 10px 14px; border-bottom: 1px solid #e8eef8; }\n.sop-card:last-child { border-bottom: none; }\n.sop-header { display: flex; align-items: center; gap: 10px; margin-bottom: 8px; }\n.sop-badge { background: #0d2b52; color: #fff; padding: 2px 8px; border-radius: 3px; font-weight: 700; font-size: 9pt; white-space: nowrap; }\n.sop-title { font-weight: 600; font-size: 10pt; color: #0d2b52; flex: 1; }\n.sop-check { font-size: 9pt; color: #888; border: 1px solid #ccc; padding: 2px 8px; border-radius: 3px; white-space: nowrap; }\n.sop-steps { margin-left: 20px; font-size: 9.5pt; line-height: 1.8; color: #333; }\n.sop-steps li { margin-bottom: 2px; }\n.sop-note-row { display: flex; align-items: center; gap: 8px; margin-top: 8px; font-size: 9pt; color: #999; padding-top: 6px; border-top: 1px dashed #dde4ef; }\n.note-label { white-space: nowrap; font-style: italic; }\n.note-line { flex: 1; border-bottom: 1px solid #ccc; height: 12px; }\n.sig-title { font-size: 9pt; font-weight: 700; color: #0d2b52; text-transform: uppercase; margin: 20px 0 10px; border-top: 2px solid #0d2b52; padding-top: 10px; }\n.sig-grid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 14px; margin-bottom: 16px; }\n.sig-box { border: 1px solid #bbb; padding: 10px 12px; min-height: 65px; border-radius: 3px; }\n.sig-label { font-size: 8.5pt; color: #666; margin-bottom: 6px; font-weight: 600; }\n.sig-line { border-bottom: 1px solid #ccc; margin-top: 30px; }\n.footer { margin-top: 16px; font-size: 8pt; color: #aaa; border-top: 1px solid #e0e0e0; padding-top: 6px; display: flex; justify-content: space-between; }\n@media print { body { padding: 10mm 12mm; } .phase-block { page-break-inside: avoid; } .sop-card { page-break-inside: avoid; } }\n</style>\n</head>\n<body>\n\n<div class=\"doc-header\">\n  <div>\n    <div class=\"doc-title\">MOP — Méthode d'Opération et de Procédure</div>\n    <div class=\"doc-subtitle\">Telehouse — Réseau OTN/OOB — Procédure d'intervention NOC</div>\n  </div>\n  <div class=\"doc-meta\">\n    <div class=\"doc-id\">${docId}</div>\n    <div>Généré le ${genTime}</div>\n    <div>v2.0 — Source: Référentiel Excel v2</div>\n  </div>\n</div>\n\n${critBannerHtml}\n${metaHtml}\n${descHtml}\n${alarmHtml}\n${casHtml}\n${kbHtml}\n\n<div class=\"sops-title\">Procédures applicables — ${sopsArr.length} SOP(s)</div>\n${phasesHtml}\n\n<div class=\"sig-title\">Validation &amp; Clôture</div>\n<div class=\"sig-grid\">\n  <div class=\"sig-box\"><div class=\"sig-label\">Technicien intervenant</div><div class=\"sig-line\"></div></div>\n  <div class=\"sig-box\"><div class=\"sig-label\">Responsable NOC</div><div class=\"sig-line\"></div></div>\n  <div class=\"sig-box\"><div class=\"sig-label\">Heure de clôture</div><div class=\"sig-line\"></div></div>\n</div>\n\n<div class=\"footer\">\n  <span>${docId} — ${esc(categorie || incident_type || 'N/A')} — ${esc(sous_type || 'N/A')}</span>\n  <span>Généré automatiquement par MOP Machinery v2.0 — ${genTime}</span>\n</div>\n\n</body>\n</html>`;\n\nconst buf = Buffer.from(html, 'utf8');\nreturn [{\n  json: { incident_id, filename, docxFilename, html },\n  binary: {\n    'index.html': {\n      data: buf.toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000003",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "index.html"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000004",
      "name": "Write PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "parameters": {
        "fileName": "={{ '/data/mop/pdf/' + $('Build HTML').item.json.filename }}",
        "dataPropertyName": "data"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000006",
      "name": "Convert to DOCX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://pandoc_api:3001/convert/html-to-docx",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $('Build HTML').item.json.html }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "docx"
            }
          }
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000007",
      "name": "Write DOCX",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "fileName": "={{ '/data/mop/docx/' + $('Build HTML').item.json.docxFilename }}",
        "dataPropertyName": "docx"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mg-0001-0000-0000-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { pdf_url: 'https://mop-dl.ewutelo.cloud/' + $('Build HTML').item.json.filename, docx_url: 'https://mop-dl.ewutelo.cloud/' + $('Build HTML').item.json.docxFilename, filename: $('Build HTML').item.json.filename, docx_filename: $('Build HTML').item.json.docxFilename, incident_id: $('Build HTML').item.json.incident_id } }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook mop-generate": {
      "main": [
        [
          {
            "node": "Build HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Write PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write PDF": {
      "main": [
        [
          {
            "node": "Convert to DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to DOCX": {
      "main": [
        [
          {
            "node": "Write DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write DOCX": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "id": "jtvnpjvxc3RjnIwA"
}