scripts/n8n-workflows/mop-route.json
{
  "id": "kQRrDB7w5wfqWIrG",
  "name": "mop-route",
  "nodes": [
    {
      "id": "mr-0001-0000-0000-000000000001",
      "name": "Webhook mop-route",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mop-route",
      "parameters": {
        "httpMethod": "POST",
        "path": "mop-route",
        "responseMode": "responseNode",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mr-0001-0000-0000-000000000002",
      "name": "SOP Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const MATRIX = {\n  'SUPERVISION': {\n    MINEUR:   ['SOP-01', 'SOP-02'],\n    MAJEUR:   ['SOP-01', 'SOP-02', 'SOP-03', 'SOP-08', 'SOP-11'],\n    CRITIQUE: ['SOP-01', 'SOP-02', 'SOP-03', 'SOP-06', 'SOP-08', 'SOP-09', 'SOP-11'],\n  },\n  'PHOTONIQUE': {\n    MINEUR:   ['SOP-01', 'SOP-04'],\n    MAJEUR:   ['SOP-01', 'SOP-04', 'SOP-07', 'SOP-08', 'SOP-11'],\n    CRITIQUE: ['SOP-01', 'SOP-04', 'SOP-05', 'SOP-10', 'SOP-11', 'SOP-13'],\n  },\n  'CARTE SERVICE': {\n    MINEUR:   ['SOP-01', 'SOP-05'],\n    MAJEUR:   ['SOP-01', 'SOP-05', 'SOP-10', 'SOP-11'],\n    CRITIQUE: ['SOP-01', 'SOP-05', 'SOP-10', 'SOP-11', 'SOP-13'],\n  },\n  'CARTE MANAGEMENT': {\n    MINEUR:   ['SOP-01', 'SOP-03'],\n    MAJEUR:   ['SOP-01', 'SOP-03', 'SOP-06', 'SOP-10', 'SOP-11'],\n    CRITIQUE: ['SOP-01', 'SOP-03', 'SOP-06', 'SOP-10', 'SOP-11', 'SOP-13'],\n  },\n  'CARTE INFRA': {\n    MINEUR:   ['SOP-01', 'SOP-05'],\n    MAJEUR:   ['SOP-01', 'SOP-05', 'SOP-06', 'SOP-10', 'SOP-11'],\n    CRITIQUE: ['SOP-01', 'SOP-05', 'SOP-10', 'SOP-11', 'SOP-13'],\n  },\n  'CHASSIS': {\n    MINEUR:   ['SOP-01', 'SOP-05'],\n    MAJEUR:   ['SOP-01', 'SOP-05', 'SOP-10', 'SOP-11'],\n    CRITIQUE: ['SOP-01', 'SOP-04', 'SOP-05', 'SOP-10', 'SOP-11', 'SOP-13'],\n  },\n  'PORT NNI': {\n    MINEUR:   ['SOP-01', 'SOP-07'],\n    MAJEUR:   ['SOP-01', 'SOP-07', 'SOP-10', 'SOP-11'],\n    CRITIQUE: ['SOP-01', 'SOP-07', 'SOP-10', 'SOP-11', 'SOP-13'],\n  },\n  'PORT UNI': {\n    MINEUR:   ['SOP-01', 'SOP-07'],\n    MAJEUR:   ['SOP-01', 'SOP-07', 'SOP-10'],\n    CRITIQUE: ['SOP-01', 'SOP-07', 'SOP-10', 'SOP-11'],\n  },\n};\n\nconst body = $input.first().json.body || $input.first().json;\nconst { incident_type, criticite } = body;\n\nif (!incident_type || !criticite) {\n  return [{ json: { error: 'missing incident_type or criticite', statusCode: 400 } }];\n}\n\nconst sops = MATRIX[incident_type]?.[criticite] ?? ['SOP-01'];\nconst incident_id = 'INC-' + new Date().toISOString().replace(/[-:T.Z]/g, '').slice(0, 14);\n\nreturn [{ json: { sops, sops_csv: sops.join(','), total: sops.length, incident_id } }];"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "mr-0001-0000-0000-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook mop-route": {
      "main": [
        [
          {
            "node": "SOP Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SOP Matrix": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null
}