scripts/n8n-workflows/vref-remix-ingest.json
{
  "id": "vR6jw6pwYg8tMu9s",
  "name": "OpenClaw \u2014 VRef Remix Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vref-remix-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "vri-0001-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "vri00001-5678-4000-8000-vrefremixin1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst payload = raw.body || raw;\nconst secret = $env.N8N_WEBHOOK_SECRET || '';\n\nif (secret && payload.secret !== secret) {\n  throw new Error('Invalid webhook secret');\n}\n\nconst required = ['url', 'instructions'];\nfor (const f of required) {\n  if (!payload[f]) throw new Error(`Missing required field: ${f}`);\n}\n\nconst sourceUrl = String(payload.url).trim();\nconst instructions = String(payload.instructions).trim();\nconst format = payload.format || 'story';\nconst title = (payload.title || instructions).slice(0, 80);\n\nconst now = new Date();\nconst slug = 'remix-' + now.toISOString().slice(0,10).replace(/-/g,'') + '-' + Math.random().toString(36).slice(2,7);\n\nconst metubeUrl = $env.METUBE_URL || 'http://javisi_metube:8081';\nconst vrefUrl   = $env.VREF_URL   || 'http://javisi_vref_mock:8082';\n\nreturn [{ json: {\n  source_url: sourceUrl,\n  instructions,\n  format,\n  title,\n  slug,\n  metube_url: metubeUrl,\n  vref_url:   vrefUrl,\n  metube_payload: {\n    url: sourceUrl,\n    quality: '720',\n    format: 'mp4'\n  }\n}}];"
      },
      "id": "vri-0001-0000-4000-8000-000000000002",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.metube_url + '/add' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.metube_payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "vri-0001-0000-4000-8000-000000000003",
      "name": "POST metube /add",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=\ud83d\udce5 <b>VRef Remix</b> \u2014 T\u00e9l\u00e9chargement lanc\u00e9\n\n\ud83c\udfac <b>{{ $('Validate & Prepare').first().json.title }}</b>\n\n\ud83c\udf10 <code>{{ $('Validate & Prepare').first().json.source_url.slice(0,60) }}</code>\n\n\u23f3 T\u00e9l\u00e9chargement vid\u00e9o en cours (1-3 min)..."
            }
          ]
        },
        "options": {}
      },
      "id": "vri-0001-0000-4000-8000-000000000014",
      "name": "TG: Downloading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Validate & Prepare').first().json;\nconst metube_url = ctx.metube_url;\nconst source_url = ctx.source_url;\n\nconst timeout = 300000;\nconst interval = 5000;\nconst start = Date.now();\n\nlet result = null;\nwhile (!result && (Date.now() - start) < timeout) {\n  await new Promise(r => setTimeout(r, interval));\n  let history;\n  try {\n    const raw = await $http.request({ method: 'GET', url: metube_url + '/history' });\n    history = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  } catch(e) {\n    continue;\n  }\n  const allItems = [\n    ...(Array.isArray(history.done)    ? history.done    : Object.values(history.done    || {})),\n    ...(Array.isArray(history.queue)   ? history.queue   : Object.values(history.queue   || {})),\n    ...(Array.isArray(history.pending) ? history.pending : Object.values(history.pending || {})),\n  ];\n  const match = allItems.find(item =>\n    item.url === source_url &&\n    (item.status === 'finished' || item.status === 'done')\n  );\n  if (match) {\n    result = {\n      filename: match.title + '.' + (match.format || 'mp4'),\n      video_title: match.title,\n      video_id: match.id,\n    };\n  }\n}\n\nif (!result) throw new Error('Metube download timeout after 5 min: ' + source_url);\n\nreturn [{ json: { ...ctx, ...result } }];"
      },
      "id": "vri-0001-0000-4000-8000-000000000004",
      "name": "Poll metube /history",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=\u2705 <b>VRef Remix</b> \u2014 Vid\u00e9o t\u00e9l\u00e9charg\u00e9e\n\n\ud83c\udfac <b>{{ $input.first().json.title }}</b>\n\n\ud83d\udcc1 <code>{{ $input.first().json.filename }}</code>\n\n\ud83d\udd0d Analyse des sc\u00e8nes en cours..."
            }
          ]
        },
        "options": {}
      },
      "id": "vri-0001-0000-4000-8000-000000000015",
      "name": "TG: Download Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Poll metube /history').first().json.vref_url + '/api/analyze' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filename: $('Poll metube /history').first().json.filename, template: 'default' }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "vri-0001-0000-4000-8000-000000000005",
      "name": "POST vref /analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=\ud83d\udd0d <b>VRef Remix</b> \u2014 Analyse termin\u00e9e\n\n\ud83c\udfac <b>{{ $('Validate & Prepare').first().json.title }}</b>\n\n\u2728 Remix IA en cours avec les instructions :\n<i>{{ $('Validate & Prepare').first().json.instructions.slice(0,100) }}</i>"
            }
          ]
        },
        "options": {}
      },
      "id": "vri-0001-0000-4000-8000-000000000016",
      "name": "TG: Analyzing Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const analysis = $('POST vref /analyze').first().json;\nconst ctx = $('Poll metube /history').first().json;\n\nconst source_prompt =\n  analysis.suggested_prompt ||\n  (analysis.scenes && analysis.scenes[0] && analysis.scenes[0].suggested_prompt) ||\n  analysis.summary ||\n  ctx.title;\n\nreturn [{ json: {\n  ...ctx,\n  analysis,\n  source_prompt,\n  remix_payload: {\n    source_prompt,\n    modifications: { subject: ctx.instructions },\n    template: 'default',\n    output_name: ctx.slug\n  }\n}}];"
      },
      "id": "vri-0001-0000-4000-8000-000000000006",
      "name": "Build Remix Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.vref_url + '/api/remix' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.remix_payload) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "vri-0001-0000-4000-8000-000000000007",
      "name": "POST vref /remix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const remix = $input.first().json;\nconst ctx = $('Build Remix Payload').first().json;\n\nconst remixed_prompt = remix.remixed_prompt || remix.suggested_prompt || ctx.source_prompt;\n\nconst brief = {\n  objective: `Remix: ${ctx.instructions}`,\n  source_url: ctx.source_url,\n  source_prompt: ctx.source_prompt,\n  remixed_prompt,\n  style: remix.style || '',\n  mood: remix.mood || '',\n  submitted_at: new Date().toISOString()\n};\n\nreturn [{ json: {\n  ...ctx,\n  remix,\n  remixed_prompt,\n  brief,\n  nocodb_body: {\n    title: ctx.title,\n    format: ctx.format,\n    status: 'intake',\n    brief\n  }\n}}];"
      },
      "id": "vri-0001-0000-4000-8000-000000000008",
      "name": "Build Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOCODB_BASE_URL + '/api/v2/tables/' + $env.NOCODB_CONTENTS_TABLE_ID + '/records' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.nocodb_body) }}",
        "options": {}
      },
      "id": "vri-0001-0000-4000-8000-000000000009",
      "name": "Create NocoDB record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const nocodb = $input.first().json;\nconst ctx = $('Build Brief').first().json;\n\nconst content_id = String(nocodb.Id || nocodb.id);\n\nreturn [{ json: { ...ctx, content_id, nocodb_id: content_id } }];"
      },
      "id": "vri-0001-0000-4000-8000-000000000010",
      "name": "Extract content_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', content_id: $json.content_id, title: $json.title, remixed_prompt: $json.remixed_prompt, message: 'Analyse termin\u00e9e. Pipeline CF en cours.' } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "vri-0001-0000-4000-8000-000000000011",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_MONITORING_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            },
            {
              "name": "text",
              "value": "=\ud83c\udfac <b>VRef Remix</b> \u2014 Pipeline lanc\u00e9 \u2713\n\n<b>{{ $('Extract content_id').first().json.title }}</b>\n\n\ud83c\udfaf <i>{{ $('Extract content_id').first().json.instructions }}</i>\n\n\u2728 {{ $('Extract content_id').first().json.remixed_prompt.slice(0,120) }}\n\n\ud83d\udd11 content_id: <code>{{ $('Extract content_id').first().json.content_id }}</code>\n\n\u23f3 Livraison dans Drop dans ~15 min."
            }
          ]
        },
        "options": {}
      },
      "id": "vri-0001-0000-4000-8000-000000000012",
      "name": "Telegram notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Extract content_id').first().json;\ntry {\n  await $http.request({\n    method: 'POST',\n    url: 'http://javisi_n8n:5678/webhook/cf-brief-to-concept',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      secret: $env.N8N_WEBHOOK_SECRET,\n      content_id: ctx.content_id,\n      title: ctx.title,\n      format: ctx.format || 'story',\n      brief: ctx.brief\n    })\n  });\n  return [{ json: { cf_triggered: true, content_id: ctx.content_id } }];\n} catch(e) {\n  return [{ json: { cf_triggered: false, cf_error: e.message } }];\n}"
      },
      "id": "vri-0001-0000-4000-8000-000000000013",
      "name": "Trigger CF Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "POST metube /add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST metube /add": {
      "main": [
        [
          {
            "node": "TG: Downloading",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Downloading": {
      "main": [
        [
          {
            "node": "Poll metube /history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll metube /history": {
      "main": [
        [
          {
            "node": "TG: Download Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Download Done": {
      "main": [
        [
          {
            "node": "POST vref /analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST vref /analyze": {
      "main": [
        [
          {
            "node": "TG: Analyzing Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG: Analyzing Done": {
      "main": [
        [
          {
            "node": "Build Remix Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Remix Payload": {
      "main": [
        [
          {
            "node": "POST vref /remix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST vref /remix": {
      "main": [
        [
          {
            "node": "Build Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brief": {
      "main": [
        [
          {
            "node": "Create NocoDB record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create NocoDB record": {
      "main": [
        [
          {
            "node": "Extract content_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract content_id": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        [
          {
            "node": "Telegram notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram notify": {
      "main": [
        [
          {
            "node": "Trigger CF Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 600,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ggCMJPaydcKDTZPi"
  },
  "staticData": null,
  "tags": [
    {
      "name": "openclaw"
    },
    {
      "name": "vref"
    },
    {
      "name": "remix"
    },
    {
      "name": "video"
    },
    {
      "name": "content-factory"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-19T00:00:00.000Z",
  "versionId": "1"
}